<!-- BEGIN NOTIFICATION DROPDOWN -->
<!-- DOC: Apply "dropdown-dark" class after below "dropdown-extended" to change the dropdown styte -->
<li class="dropdown dropdown-extended dropdown-notification dropdown-dark" id="header_notification_bar">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
    <i class="icon-bell"></i>
    <span id="notifierBadge" class="badge badge-default">
    {{ user.notifiers|length }} </span>
    </a>
    <ul class="dropdown-menu">
        <li class="external">
            <h3><span id="notifierSummary" class="bold">{{ user.notifiers|length }} pending</span> notifications</h3>
            <a href="extra_profile.html">view all</a>
        </li>
        <li>
            <ul class="dropdown-menu-list scroller" style="height: 250px;" id="notifierParent" data-handle-color="#637283">
                {% for n in user.notifiers %}

                <li>
                    <a href="javascript:">
                    <span class="time">{{ n.created_at }}</span>
                    <span class="details">
                    <span class="label label-sm label-icon label-{{ n.status }}">
                    <i class="fa fa-{{ n.icon }}"></i>
                    </span>
                    {{ n.desc }}</span>
                    </a>
                </li>

                {% endfor %}
{#                <li>#}
{#                    <a href="javascript:">#}
{#                    <span class="time">just now</span>#}
{#                    <span class="details">#}
{#                    <span class="label label-sm label-icon label-success">#}
{#                    <i class="fa fa-plus"></i>#}
{#                    </span>#}
{#                    New user registered. </span>#}
{#                    </a>#}
{#                </li>#}
{#                <li>#}
{#                    <a href="javascript:">#}
{#                    <span class="time">3 mins</span>#}
{#                    <span class="details">#}
{#                    <span class="label label-sm label-icon label-danger">#}
{#                    <i class="fa fa-bolt"></i>#}
{#                    </span>#}
{#                    Server #12 overloaded. </span>#}
{#                    </a>#}
{#                </li>#}
            </ul>
        </li>
    </ul>

    <script>
        window.User = window.User || {};

        window.User.Notifiers = {};
        window.User.Notifiers.Data = [
            {% for n in user.notifiers %}

                {
                    'time': "{{ n.created_at }}",
                    'status': "{{ n.status }}",
                    'icon': "{{ n.icon }}",
                    'desc': "{{ n.desc }}"
                },

            {% endfor %}
        ];
        window.User.Notifiers.updateDisplay = function() {

            // this function updates the DOM regarding the notifications icon at the top of the page
            // this function should be called whenever the Notifiers.Data array is modified.

            var parent = document.getElementById("notifierParent");

            parent.innerHTML = "";

            for( var i = 0; i < window.User.Notifiers.Data.length; i++ ) {
                var li = document.createElement("li");
                var el = window.User.Notifiers.Data[i];

                li.innerHtml = '<a href="javascript:"><span class="time">' + el.time + '</span><span class="details"><span class="label label-sm label-icon label-' + el.status + '"><i class="fa fa-' + el.icon + '"></i></span>' + el.desc + '</span></a>';

                parent.appendChild(li);
            }


            // this updates the 'badge' on the icon, or the accented 'notification count'
            // it also hides the badge if there are no notifications

            var badge = document.getElementById("notifierBadge");

            badge.innerText = String(window.User.Notifiers.Data.length);

            if( window.User.Notifiers.Data.length )
                badge.classList.remove('hide');
            else
                badge.classList.add('hide');

            document.getElementById("notifierSummary").innerText = window.User.Notifiers.Data.length + ' pending';
        };

    window.User.Notifiers.updateDisplay();
    </script>
</li>
<!-- END NOTIFICATION DROPDOWN -->