<!-- BEGIN SIDEBAR -->
<div class="page-sidebar-wrapper">
    <!-- DOC: Set data-auto-scroll="false" to disable the sidebar from auto scrolling/focusing -->
    <!-- DOC: Change data-auto-speed="200" to adjust the sub menu slide up/down speed -->
    <div class="page-sidebar navbar-collapse collapse">
        <!-- BEGIN SIDEBAR MENU -->
        <!-- DOC: Apply "page-sidebar-menu-light" class right after "page-sidebar-menu" to enable light sidebar menu style(without borders) -->
        <!-- DOC: Apply "page-sidebar-menu-hover-submenu" class right after "page-sidebar-menu" to enable hoverable(hover vs accordion) sub menu mode -->
        <!-- DOC: Apply "page-sidebar-menu-closed" class right after "page-sidebar-menu" to collapse("page-sidebar-closed" class must be applied to the body element) the sidebar sub menu mode -->
        <!-- DOC: Set data-auto-scroll="false" to disable the sidebar from auto scrolling/focusing -->
        <!-- DOC: Set data-keep-expand="true" to keep the submenues expanded -->
        <!-- DOC: Set data-auto-speed="200" to adjust the sub menu slide up/down speed -->
        <ul class="page-sidebar-menu" data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200" data-height="903">
            {% if 'dashboard' in active %}
            <li class="active open">
            {% else %}
                {%  if active == "" %}
                    <li class="active open">
                {% else %}
                    <li class="">
                {% endif %}
            {% endif %}
                <a href="{{ urls['dashboard'] }}">
                <i class="icon-home"></i>
                <span class="title">Dashboard</span>
                <span class="arrow"></span>
                </a>
            </li>
            {% if 'inventory' in active %}
                <li class=" active open">
            {% else %}
                <li class="">
            {% endif %}
                <a href="javascript:">
                <i class="icon-chemistry"></i>
                <span class="title">Lab Assistant</span>
                {% if 'inventory' in active %}
                    <span class="selected "></span>
                {% endif %}
                </a>
                <ul class="sub-menu">
                    {% if 'inventory.view' in active %}
                        <li class="start active">
                        <span class="selected "></span>
                    {% else %}
                        <li class="">
                    {% endif %}
                        <a href="{{ urls['inventory']['view'] }}">

                        <i class="icon-basket"></i>
                        View Inventory</a>
                    </li>
                    {% if 'inventory.checkout' in active %}
                        <li class="start active">
                        <span class="selected "></span>
                    {% else %}
                        <li class="">
                    {% endif %}
                        <a href="{{ urls['inventory']['checkout'] }}">
                        <i class="icon-tag"></i>
                        Checkout an Item</a>
                    </li>
                    {% if 'inventory.manuals' in active %}
                        <li class="start active">
                        <span class="selected "></span>
                    {% else %}
                        <li class="">
                    {% endif %}
                        <a href="{{ urls['inventory']['manuals'] }}">
                        <i class="icon-book-open"></i>
                        User Manuals</a>
                    </li>
                </ul>
            </li>
{#            {% if 'supercomputing' in active %}#}
{#                <li class="active open">#}
{#            {% else %}#}
{#                <li class="">#}
{#            {% endif %}#}
{#                <a href="javascript:">#}
{#                <i class="icon-rocket"></i>#}
{#                <span class="title">Supercomputing</span>#}
{#                {% if 'inventory' in active %}#}
{#                    <span class="selected "></span>#}
{#                {% endif %}#}
{#                </a>#}
{#                <ul class="sub-menu">#}
{#                    {% if 'hpc.news' in active %}#}
{#                        <li class="start active">#}
{#                        <span class="selected "></span>#}
{#                    {% else %}#}
{#                        <li class="">#}
{#                    {% endif %}#}
{#                        <a href="{{ urls['hpc']['news'] }}">#}
{#                        <i class="icon-bubble"></i>#}
{#                        HiPerGator News</a>#}
{#                    </li>#}
{#                    {% if 'hpc.submitjob' in active %}#}
{#                        <li class="start active">#}
{#                        <span class="selected "></span>#}
{#                    {% else %}#}
{#                        <li class="">#}
{#                    {% endif %}#}
{#                        <a href="{{ urls['hpc']['submitjob'] }}">#}
{#                        <i class="icon-cloud-upload"></i>#}
{#                        Submit New Task</a>#}
{#                    </li>#}
{#                    {% if 'hpc.viewtask' in active %}#}
{#                        <li class="start active">#}
{#                        <span class="selected "></span>#}
{#                    {% else %}#}
{#                        <li class="">#}
{#                    {% endif %}#}
{#                        <a href="{{ urls['hpc']['viewtask'] }}">#}
{#                        <i class="icon-list"></i>#}
{#                        View Task Status</a>#}
{#                    </li>#}
{#                    {% if 'hpc.developer' in active %}#}
{#                        <li class="start active">#}
{#                        <span class="selected "></span>#}
{#                    {% else %}#}
{#                        <li class="">#}
{#                    {% endif %}#}
{#                        <a href="{{ urls['hpc']['developer'] }}">#}
{#                        <i class="icon-wrench"></i>#}
{#                        Developer Resources</a>#}
{#                    </li>#}
{#                    {% if 'hpc.support' in active %}#}
{#                        <li class="start active">#}
{#                        <span class="selected "></span>#}
{#                    {% else %}#}
{#                        <li class="">#}
{#                    {% endif %}#}
{#                        <a href="{{ urls['hpc']['support'] }}">#}
{##}
{#                        <i class="icon-question"></i>#}
{#                        Open Support Ticket</a>#}
{#                    </li>#}
{#                </ul>#}
{#            </li>#}
        </ul>
        <!-- END SIDEBAR MENU -->
    </div>
</div>
<!-- END SIDEBAR -->