<!-- BEGIN TODO DROPDOWN -->
<!-- DOC: Apply "dropdown-dark" class after below "dropdown-extended" to change the dropdown styte -->
<li class="dropdown dropdown-extended dropdown-tasks dropdown-dark" id="header_task_bar">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
    <i class="icon-calendar"></i>
    <span id="todoBadge" class="badge badge-default">
    {{ user.todos|length }}</span>
    </a>
    <ul class="dropdown-menu extended tasks">
        <li class="external">
            <h3>You have <span class="bold" id="todoSummary">{{ user.todos|length }}</span> tasks</h3>
            <a href="page_todo.html">view all</a>
        </li>
        <li>
            <ul class="dropdown-menu-list scroller" id="todoParent" style="height: 275px;" data-handle-color="#637283">
                {% for t in user.todos %}

                    <li>
                        <a href="javascript:">
                        <span class="task">
                            <span class="desc">{{ t.desc }}</span>
                            <span class="percent">{{ t.percent }}</span>
                        </span>
                        <span class="progress">
                        <span style="width: {{ t.percent }}%;" class="progress-bar progress-bar-{{ t.status }}" aria-valuenow="{{ t.percent }}" aria-valuemin="0" aria-valuemax="100"><span class="sr-only">{{ t.percent }}% Complete</span></span>
                        </span>
                        </a>
                    </li>

                {% endfor %}
            </ul>
        </li>
    </ul>

    <script>
        window.User = window.User || {};

        window.User.Todo = {};
        window.User.Todo.Data = [
            {% for n in user.todos %}

                {
                    'percent': "{{ n.percent }}",
                    'status': "{{ n.status }}",
                    'desc': "{{ n.desc }}"
                },

            {% endfor %}
        ];
        window.User.Todo.updateDisplay = function() {

            // this function updates the DOM regarding the notifications icon at the top of the page
            // this function should be called whenever the To do.Data array is modified.

            var parent = document.getElementById("todoParent");

            parent.innerHTML = "";

            for( var i = 0; i < window.User.Todo.Data.length; i++ ) {
                var li = document.createElement("li");
                var el = window.User.Todo.Data[i];

                li.innerHtml = '<a href="javascript:"><span class="task"><span class="desc">' + el.desc + '</span><span class="percent">' + el.percent + '</span></span><span class="progress"><span style="width: ' + el.percent + '%;" class="progress-bar progress-bar-' + el.status + '" aria-valuenow="' + el.percent + '" aria-valuemin="0" aria-valuemax="100"><span class="sr-only">' + el.percent + '% Complete</span></span></span></a>';

                parent.appendChild(li);
            }


            // this updates the 'badge' on the icon, or the accented 'to do count'
            // it also hides the badge if there are no notifications

            var badge = document.getElementById("todoBadge");

            badge.innerText = String(window.User.Todo.Data.length);

            if( window.User.Todo.Data.length )
                badge.classList.remove('hide');
            else
                badge.classList.add('hide');

            document.getElementById("todoSummary").innerText = String(window.User.Todo.Data.length);
        };

    window.User.Todo.updateDisplay();
    </script>
</li>
<!-- END TODO DROPDOWN -->