<!DOCTYPE html>
<!--
Template Name: Metronic - Responsive Admin Dashboard Template build with Twitter Bootstrap 3.3.2
Version: 3.6.3
Author: KeenThemes
Website: http://www.keenthemes.com/
Contact: support@keenthemes.com
Follow: www.twitter.com/keenthemes
Like: www.facebook.com/keenthemes
Purchase: http://themeforest.net/item/metronic-responsive-admin-dashboard-template/4021469?ref=keenthemes
License: You must have a valid license purchased only from themeforest(the above link) in order to legally use the theme for your project.
-->
<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->
<!-- BEGIN HEAD -->
<head>
<meta charset="utf-8"/>
<title>ESSIE Web</title>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta content="width=device-width, initial-scale=1.0" name="viewport"/>
<meta http-equiv="Content-type" content="text/html; charset=utf-8">
<meta content="" name="description"/>
<meta content="Chris Pergrossi" name="author"/>
<!-- BEGIN GLOBAL MANDATORY STYLES -->
<link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css">
<link href="/static/js/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
<link href="/static/js/vendor/simple-line-icons/simple-line-icons.min.css" rel="stylesheet" type="text/css">
<link href="/static/js/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css">
<link href="/static/js/vendor/uniform/css/uniform.default.css" rel="stylesheet" type="text/css">
<link href="/static/js/vendor/bootstrap-switch/css/bootstrap-switch.min.css" rel="stylesheet" type="text/css"/>
<link href="/static/css/style.css" rel="stylesheet" type="text/css"/>
<!-- END GLOBAL MANDATORY STYLES -->
<!-- BEGIN THEME STYLES -->
<link href="/static/css/components.css" id="style_components" rel="stylesheet" type="text/css"/>
<link href="/static/css/js.css" rel="stylesheet" type="text/css"/>
<link href="/static/css/layout.css" rel="stylesheet" type="text/css"/>
<link id="style_color" href="/static/css/themes/grey.css" rel="stylesheet" type="text/css"/>
<link href="/static/css/custom.css" rel="stylesheet" type="text/css"/>
<!-- END THEME STYLES -->
<link rel="shortcut icon" href="favicon.ico"/>
</head>
<!-- END HEAD -->
<!-- BEGIN BODY -->
<!-- DOC: Apply "page-header-fixed-mobile" and "page-footer-fixed-mobile" class to body element to force fixed header or footer in mobile devices -->
<!-- DOC: Apply "page-sidebar-closed" class to the body and "page-sidebar-menu-closed" class to the sidebar menu element to hide the sidebar by default -->
<!-- DOC: Apply "page-sidebar-hide" class to the body to make the sidebar completely hidden on toggle -->
<!-- DOC: Apply "page-sidebar-closed-hide-logo" class to the body element to make the logo hidden on sidebar toggle -->
<!-- DOC: Apply "page-sidebar-hide" class to body element to completely hide the sidebar on sidebar toggle -->
<!-- DOC: Apply "page-sidebar-fixed" class to have fixed sidebar -->
<!-- DOC: Apply "page-footer-fixed" class to the body element to have fixed footer -->
<!-- DOC: Apply "page-sidebar-reversed" class to put the sidebar on the right side -->
<!-- DOC: Apply "page-full-width" class to the body element to have full width page without the sidebar menu -->
<body class="page-boxed page-header-fixed page-container-bg-solid">
<!-- BEGIN HEADER -->
<div class="page-header navbar navbar-fixed-top">
	<!-- BEGIN HEADER INNER -->
	<div class="page-header-inner container">
		<!-- BEGIN LOGO -->
		<div class="page-logo">
			<a href="/">
{#			<img src="/static/img/logo-default.png" alt="logo" class="logo-default"/>#}
			</a>
			<div class="menu-toggler sidebar-toggler">
				<!-- DOC: Remove the above "hide" to enable the sidebar toggler button on header -->
			</div>
		</div>
		<!-- END LOGO -->
		<!-- BEGIN RESPONSIVE MENU TOGGLER -->
		<a href="javascript:" class="menu-toggler responsive-toggler" data-toggle="collapse" data-target=".navbar-collapse">
		</a>
		<!-- END RESPONSIVE MENU TOGGLER -->

		<!-- BEGIN PAGE TOP -->
		<div class="page-top">
			<!-- BEGIN HEADER SEARCH BOX -->
			<!-- DOC: Apply "search-form-expanded" right after the "search-form" class to have half expanded search box -->
			<form class="search-form search-form-expanded" action="javascript:dosearch('/items/search');" method="GET">
				<div class="input-group">
					<input type="text" class="form-control" placeholder="Search..." id='query' name="query">
					<span class="input-group-btn">
					<a href="javascript:" class="btn submit"><i class="icon-magnifier"></i></a>
					</span>
				</div>
			</form>
			<!-- END HEADER SEARCH BOX -->
			<!-- BEGIN TOP NAVIGATION MENU -->
			<div class="top-menu">
				<ul class="nav navbar-nav pull-right">

{#					{% include 'base/_notifications.html' %}#}

{#					{% include 'base/_inbox.html' %}#}

{#                    {% include 'base/_todos.html' %}#}

					<!-- BEGIN USER LOGIN DROPDOWN -->
					<!-- DOC: Apply "dropdown-dark" class after below "dropdown-extended" to change the dropdown styte -->
					<li class="dropdown dropdown-user">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
						<img alt="" class="img-circle" src="../../assets/admin/layout2/img/avatar3_small.jpg"/>
						<span class="username username-hide-on-mobile">
						Chris </span>
						<i class="fa fa-angle-down"></i>
						</a>
						<ul class="dropdown-menu dropdown-menu-default">
							<li>
								<a href="extra_profile.html">
								<i class="icon-user"></i> My Profile </a>
							</li>
							<li>
								<a href="page_calendar.html">
								<i class="icon-calendar"></i> My Calendar </a>
							</li>
							<li>
								<a href="inbox.html">
								<i class="icon-envelope-open"></i> My Inbox <span class="badge badge-danger">
								3 </span>
								</a>
							</li>
							<li>
								<a href="page_todo.html">
								<i class="icon-rocket"></i> My Tasks <span class="badge badge-success">
								7 </span>
								</a>
							</li>
							<li class="divider">
							</li>
							<li>
								<a href="extra_lock.html">
								<i class="icon-lock"></i> Lock Screen </a>
							</li>
							<li>

								<a href="/logout">
								<i class="icon-key"></i> Log Out </a>
							</li>
						</ul>
					</li>
					<!-- END USER LOGIN DROPDOWN -->
				</ul>
			</div>
			<!-- END TOP NAVIGATION MENU -->
		</div>
		<!-- END PAGE TOP -->
	</div>
	<!-- END HEADER INNER -->
</div>
<!-- END HEADER -->
<div class="clearfix">
</div>
<div class="container">
	<!-- BEGIN CONTAINER -->
	<div class="page-container">

        {% include 'base/_sidebar.html' %}

		<!-- BEGIN CONTENT -->
		<div class="page-content-wrapper">
			<div class="page-content">
				<!-- BEGIN SAMPLE PORTLET CONFIGURATION MODAL FORM-->
				<!-- END SAMPLE PORTLET CONFIGURATION MODAL FORM-->

				<!-- BEGIN PAGE HEADER-->
				{% block header %}
                {% endblock %}
				<!-- END PAGE HEADER-->
				<!-- BEGIN PAGE CONTENT-->
				<div class="row">
					<div class="col-md-12">

                    {% block content %}
                    {% endblock %}

					</div>
				</div>
				<!-- END PAGE CONTENT-->
			</div>
		</div>
		<!-- END CONTENT -->
		<!-- BEGIN QUICK SIDEBAR -->
		<!--Cooming Soon...-->
		<!-- END QUICK SIDEBAR -->
	</div>
	<!-- END CONTAINER -->
	<!-- BEGIN FOOTER -->
	<div class="page-footer">
		<div style='text-align: center; width:100%;' class="page-footer-inner">
			 Developed for the University of Florida Dept. of Civil and Coastal Engineering &copy 2015.<br> Select items used with permission.
		</div>
		<div class="scroll-to-top">
			<i class="icon-arrow-up"></i>
		</div>
	</div>
	<!-- END FOOTER -->
</div>
<!-- BEGIN JAVAjs(Load javajs at bottom, this will reduce page load time) -->
<!-- BEGIN CORE js -->
<!--[if lt IE 9]>
<script src="/assets/js/vendor/respond.min.js"></script>
<script src="/assets/js/vendor/excanvas.min.js"></script>
<![endif]-->
<script src="/static/js/vendor/jquery.min.js" type="text/javascript"></script>
<script src="/static/js/vendor/jquery-migrate.min.js" type="text/javascript"></script>
<!-- IMPORTANT! Load jquery-ui.min.js before bootstrap.min.js to fix bootstrap tooltip conflict with jquery ui tooltip -->
<script src="/static/js/vendor/jquery-ui/jquery-ui.min.js" type="text/javascript"></script>
<script src="/static/js/vendor/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
<script src="/static/js/vendor/bootstrap-hover-dropdown/bootstrap-hover-dropdown.min.js" type="text/javascript"></script>
<script src="/static/js/vendor/jquery-slimscroll/jquery.slimscroll.min.js" type="text/javascript"></script>
<script src="/static/js/vendor/jquery.blockui.min.js" type="text/javascript"></script>
<script src="/static/js/vendor/jquery.cokie.min.js" type="text/javascript"></script>
<script src="/static/js/vendor/uniform/jquery.uniform.min.js" type="text/javascript"></script>
<script src="/static/js/vendor/bootstrap-switch/js/bootstrap-switch.min.js" type="text/javascript"></script>
<!-- END CORE js -->
<script src="/static/js/vendor/metronic.js" type="text/javascript"></script>
<script src="/static/js/vendor/layout.js" type="text/javascript"></script>
<script src="/static/js/vendor/demo.js" type="text/javascript"></script>
<script src="/static/js/vendor/moment.js" type="text/javascript"></script>
<script>
jQuery(document).ready(function() {
    Metronic.init(); // init metronic core components
    Layout.init(); // init current layout
    Demo.init(); // init demo features
});
</script>
<script>

    function dosearch(where) {
        var query = $(document.getElementById('query')).val();

        console.log(query);

        if (query.indexOf('=') == -1) {
            query = ['model='+query,'manufacturer='+query,'barcode='+query];
        } else {
            query = [query];
        }

        window.Items.Data = [];

        for (var i = 0; i < query.length; i++) {

            $.get('/items/search', {query: query[i]},
            function(data) {
                if (!data || !window.Items) {return;}

                data = JSON.parse(data);

                for (var k = 0; k < data.results.length; k++)
                    window.Items.Data[window.Items.Data.length] = data.results[k];

                console.log(window.Items.Data);

                if (window.Items.displayData) {
                    window.Items.displayData();
                } else {
                    console.log("no display data");
                }
            }
        );
        }
    }

    function logout() {
        $.ajax({
            url:'/logout',
            data:{},
            type:'POST',
            complete: function()
            {
                window.document.location.reload();
            }
        });
    }

</script>
<!-- END JAVAjs -->
</body>
<!-- END BODY -->
</html>