@import url(http://fonts.googleapis.com/css?family=Open+Sans);

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 12pt;
    padding: 0;
    margin: 0;
}

.item-row {
    width: 90%;
    height: 50px;
    color: white;
    font-size: 16px;
    background-color: #4d5b69;
    padding: 0;
    margin: 0;
    bottom: 50px;
    font-weight: bold;
    position: relative;
    left: -5px;
    padding-left: 20px;
    padding-top: 10px;
}

.Category {
    text-transform: capitalize;
}

.Description {
    font-size:14pt;
}

.hide {
    visibility: hidden;
}

.disabled {
     color:gray;
}