{% extends 'base/base.html' %}

{% block header %}

<h3 class="page-title">
Checkout Item <small>ESSIE Database</small>
</h3>
<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <i class="fa fa-home"></i>
            <a href="index.html">Home</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <a href="#">Lab Assistant</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <a href="#">Checkout</a>
        </li>
    </ul>
</div>
{% endblock %}

{% block content %}
{#<br><br><br>#}
{#<div class="row">#}

<style>
        @import url(http://fonts.googleapis.com/css?family=Montserrat);

        .input {
            position: relative;
            z-index: 1;
            display: inline-block;
            margin: 1em;
            max-width: 350px;
            width: calc(100% - 2em);
            vertical-align: top;
        }

        .input__field {
            position: relative;
            display: block;
            float: right;
            padding: 0.8em;
            width: 60%;
            border: none;
            border-radius: 0;
            background: #f0f0f0;
            color: #aaa;
            font-weight: bold;
            font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
            -webkit-appearance: none; /* for box shadows to show on iOS */
        }

        .input__field:focus {
            outline: none;
        }

        .input__label {
            display: inline-block;
            float: right;
            padding: 0 1em;
            width: 40%;
            color: #6a7989;
            font-weight: bold;
            font-size: 120.25%;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
            -webkit-touch-callout: none;
            -webkit-user-select: none;
            -khtml-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }

        .input__label-content {
            position: relative;
            display: block;
            padding: 1.6em 0;
            width: 100%;
        }

        .graphic {
            position: absolute;
            top: 0;
            left: 0;
            fill: none;
        }

        .icon {
            color: #ddd;
            font-size: 150%;
        }

        body {
            margin: 0;
            padding: 0;
            font-family: Montserrat;

            overflow: hidden;
        }

        .container:nth-of-type(1) {
            width: 480px;

            margin: 50vh auto;
            position: absolute;
            left: calc( 50% - 240px );
            position: absolute;
            /*top: 50vh;*/
        }

        .container:nth-of-type(2) {
            width: 960px;

            margin: 50vh auto;
            position: absolute;
            left: calc( 50% - 480px );
            top: -480px;
            /*top: 50vh;*/
        }

        .container:nth-of-type(3) {
            width: 480px;

            margin: 50vh auto;
            position: absolute;
            left: calc( 50% - 240px );
            /*position: absolute;*/
            /*top: 50vh;*/
        }

        .hide {
            display: none;
        }

        /* Kyo */
        .input--kyo {
            z-index: auto;
        }

        .input__field--kyo {
            padding: 0.85em 1.5em;
            width: 100%;
            border-radius: 2em;
            background: #fff;
            color: #535d92;

            box-shadow: 1px 1px 1px 1px black;
        }

        .input__label--kyo {
            z-index: 0;
            padding: 0 1em 0 0;
            width: 100%;
            text-align: center;
        }

        .input__label--kyo::after {
            content: '';
            position: fixed;
            top: 0;
            left: 0;
            z-index: 1000;
            width: 100%;
            height: 100%;
            background: rgba(11, 43, 205, 0.3);
            opacity: 0;
            -webkit-transition: opacity 0.3s;
            transition: opacity 0.3s;
            pointer-events: none;
        }

        .input__label-content--kyo {
            padding: 0.5em 0;
        }

        .input__field--kyo:focus,
        .input__field--kyo:focus +  .input__label--kyo .input__label-content--kyo {
            z-index: 10000;
        }

        .input__field--kyo:focus + .input__label--kyo {
            color: #fff;
        }

        .input__field--kyo:focus + .input__label--kyo::after {
            opacity: 1;
        }

        .slidOffscreen {
            position: relative;
            transform: translateY(100%);
            opacity: 0.0;
            transition: .5s ease-out all;
        }

        #error_label {
            opacity: 1.0;
            position: relative;
            transition: .5s ease-out all;
        }

        .pos1 {
            opacity: 0;
            transition: 0.5s ease-in-out all;
        }

        .pos3 {
            opacity: 0;
            transition: 0.5s ease-in-out all;
        }

        .juster table {
            vertical-align: top;
            padding-right: 20px;
        }
    </style>
</head>
<body>

<script src="//code.jquery.com/jquery-2.1.3.js"></script>

<div class="container normal_pos">
    <span class="input input--kyo">
        <form>
            <span class="input__label-content input__label-content--kyo slidOffscreen" id="error_label"></span>
            <input class="input__field input__field--kyo" id="barcode" type="text">
            <label class="input__label input__label--kyo" for="barcode">
                <span class="input__label-content input__label-content--kyo" id="barcode_label">Scan a Barcode</span>
            </label>
        </form>
    </span>
</div>

<div class="container pos3">
    <div class="detailsParent"></div>
</div>

<div class="container pos3">
    <strong><i>What?!?!?!</i></strong>
</div>

<script>

    var currentStage = 0;

    var barcodeEl = document.getElementById("barcode");
    var errEl = document.getElementById("error_label");

    var c = document.getElementsByClassName("container");

    function updateStage() {
        currentStage = currentStage % c.length;

        for (var i = 0; i < c.length; i ++) {
            if (i < currentStage) {
                c[i].classList.add('pos1');
            } else if (i == currentStage) {
                c[i].classList.remove('pos1');
                c[i].classList.remove('pos3');
            } else {
                c[i].classList.add('pos3');
            }
        }
    }


    function displayData (item) {

        var detailsTemplate = document.getElementById("detailsTemplate").innerHTML;
        var detailsParent = document.getElementsByClassName("detailsParent")[0];
        var details = [];

        var el = detailsTemplate,
                snip = "";

        try {
            el = el.replace("%i.product_url%", item['product_url'] || 'http://placehold.it/250x250');
        } catch(e) {}

        try {
            el = el.replace("%i.barcode_url%", item['barcode_url']);
        } catch(e) {}

        // replace the templated variables
        for (var j = 0; j < window.Schema.length; j++) {

            var tag = window.Schema[j];


            el = el.replace("%i." + tag + "%", item[tag] || '');
        }

        // check if the item is 'available'

        if (item['checkout_user'] && item['checkout_user'].length) {
            console.log("ITEM IS CHECKED OUT - THIS WOULD CHECK IT BACK IN");
        } else {
            console.log("ITEM IS CHECKED IN - THIS WOULD CHECK IT OUT");
        }

        detailsParent.innerHTML = el;

    }


    function grabBarcode (barcode) {

        if ( !barcode ) {
            barcode = barcodeEl.value;
        }


        var errorReset = true;


        $.ajax( {
            url: "http://localhost:5000/items/search",
            type: "GET",
            data: {
                "query": "barcode="+barcode
            },
            complete: function(response) {

                console.log("DATA: ",response);

                if (response.status !== 200) {
                    console.warn("Unable to contact server.  Please try again another time.");
                    return;
                }

                var r = JSON.parse(response.responseText);

                if (r.count == 0) {
                    console.log("Query returned 0 results.");

                    if (!errorReset) { return; }



                    errEl.innerText = "Unable to find any objects that match.";

                    errEl.classList.remove('slidOffscreen');

                    setTimeout((function(errEl) { return function() { errEl.classList.add('slidOffscreen'); errorReset = true; }; })(errEl), 3000);

                    return;
                }
                else if (r.count > 1 ) {
                    console.log("Query returned more than one object...  Choosing one of many.");

                    r.count = 1;
                }

                var item = r.results[0];

                currentStage ++;

                updateStage();

                displayData(item);
            }
        });
    }

    var checkForEnter = function(e) {
        console.log( "KEYDOWN : ", e );

        if (e.keyCode == 13) {
            grabBarcode(barcodeEl.value);

            barcodeEl.value = "";

            return false;
        }
    };

    barcodeEl.onkeydown = checkForEnter;
    barcodeEl.onsubmit = grabBarcode;

    window.Schema = [
        "essie_barcode",
        "uf_inventory",
        "type",
        "type2",
        "category",
        "manufacturer",
        "model",
        "description",
        "serial",
        "location",
        "gps",
        "id",
        "last_check",
        "calibration_doc",
        "next_check",
        "range_units",
        "range_min",
        "range_max",
        "excitation",
        "interface",
        "measure_units",
        "measure_min",
        "measure_max",
        "room",
        "manual",
        "oco_decal",
        "source_grant",
        "created_on",
        "checkout_time",
        "checkout_user",
        "product_url",
        "barcode"
    ];

</script>


<div class="hide" id="detailsTemplate">



        <ul style="list-style: none;">
            <li class="col-md-5" ><span style="font-size: 10pt; padding-right: 10px;" class="Model">Model:</span> <h2>%i.model%</h2></span></li>
            <li class="col-md-3" ><span style="font-size: 10pt; padding-right: 10px;" class="Manufacturer">Maker:</span> <h3>%i.manufacturer%</h3></span></li>
            <li class="col-md-3" ><span style="font-size: 10pt; padding-right: 10px;" class="Serial">S/N:</span> %i.serial%</span></li>
        </ul>

<br>
    <div class="col-md-6 Description">%i.description%</div><br>

    <div style="margin-top: -180px; display: inline-block; object-fit: cover; width: 100px; height: 100px; position: relative; margin-bottom: 30px; margin-left: 550px;"><img src="%i.product_url%"></div>
<br><br><br>
<div class="juster" style="text-align:justify;">
    <table style="display: inline-block;" class="col-md-5">
        <tr>
            <td class="col-md-6" style="font-size: 10pt;padding-right: 10px; text-align:right">Range Units:</td>
            <td class="col-md-6" style="text-align:left">%i.range_units%</td>
        </tr>
        <tr>
            <td class="col-md-6" style="font-size: 10pt;padding-right: 10px; text-align:right">Minimum:</td>
            <td class="col-md-6" style="text-align:left">%i.range_min%</td>
        </tr>
        <tr>
            <td class="col-md-6" style="font-size: 10pt;padding-right: 10px; text-align:right">Maximum:</td>
            <td class="col-md-6" style="text-align:left">%i.range_max%</td>
        </tr>
    </table>

    <table style="display: inline-block;" class="col-md-5">
        <tr>
            <td class="col-md-6" style="font-size: 10pt; padding-right: 10px; text-align:right">Measurement Units:</td>
            <td class="col-md-6" style="text-align:left">%i.measure_units%</td>
        </tr>
        <tr>
            <td class="col-md-6" style="font-size: 10pt;padding-right: 10px; text-align:right">Minimum:</td>
            <td class="col-md-6" style="text-align:left">%i.measure_min%</td>
        </tr>
        <tr>
            <td class="col-md-6" style="font-size: 10pt;padding-right: 10px; text-align:right">Maximum:</td>
            <td class="col-md-6" style="text-align:left">%i.measure_max%</td>
        </tr>
    </table>

    <table style="display: inline-block;" class="col-md-5">
        <tr>
            <td class="col-md-6" style="font-size: 10pt;padding-right: 10px; text-align:right">Excitation</td>
            <td class="col-md-6" style="text-align:left">%i.excitation%</td>
        </tr>
        <tr>
            <td class="col-md-6" style="font-size: 10pt;padding-right: 10px; text-align:right">Interface:</td>
            <td class="col-md-6" style="text-align:left">%i.interface%</td>
        </tr>
    </table>

    <table style="display: inline-block;" class="col-md-5">
        <tr>
            <td class="col-md-6" style="font-size: 10pt;padding-right: 10px; text-align:right">UF Inventory: </td>
            <td class="col-md-6" style="text-align:left">%i.uf_inventory%</td>
        </tr>
        <tr>
            <td class="col-md-6" style="font-size: 10pt;padding-right: 10px; text-align:right">Type A: </td>
            <td class="col-md-6" style="text-align:left">%i.type%</td>
        </tr>
        <tr>
            <td class="col-md-6" style="font-size: 10pt;padding-right: 10px; text-align:right">Type B: </td>
            <td class="col-md-6" style="text-align:left">%i.type2%</td>
        </tr>
    </table>

    <table style="display: inline-block;" class="col-md-5">
        <tr>
            <td class="col-md-6" style="font-size: 10pt;padding-right: 10px; text-align:right">Location: </td>
            <td class="col-md-6" style="text-align:left">%i.location%</td>
        </tr>
        <tr>
            <td class="col-md-6" style="font-size: 10pt;padding-right: 10px; text-align:right">Room: </td>
            <td class="col-md-6" style="text-align:left">%i.room%</td>
        </tr>
        <tr>
            <td class="col-md-6" style="font-size: 10pt;padding-right: 10px; text-align:right">Manual</td>
            <td class="col-md-6" style="text-align:left">%i.manual%</td>
        </tr>
        <tr>
            <td class="col-md-6" style="font-size: 10pt;padding-right: 10px; text-align:right">Source Grant:</td>
            <td class="col-md-6" style="text-align:left">%i.source_grant%</td>
        </tr>
        <tr>
            <td class="col-md-6" style="font-size: 10pt;padding-right: 10px; text-align:right">OCO Decal</td>
            <td class="col-md-6" style="text-align:left">%i.oco_decal%</td>
        </tr>
    </table>

    <table style="display: inline-block;" class="col-md-5">
        <tr>
            <td class="col-md-6" style="font-size: 10pt;padding-right: 10px; text-align:right">Last Calibration:</td>
            <td class="col-md-6" style="text-align:left">%i.last_check%</td>
        </tr>
        <tr>
            <td class="col-md-6" style="font-size: 10pt;padding-right: 10px; text-align:right">Next Calibration:</td>
            <td class="col-md-6" style="text-align:left">%i.next_check%</td>
        </tr>
        <tr>
            <td class="col-md-6" style="font-size: 10pt;padding-right: 10px; text-align:right">Documentation:</td>
            <td class="col-md-6" style="text-align:left">%i.calibration_doc%</td>
        </tr>
    </table>
</div>
</div>

{#    <div class="col-md-2 col-md-offset-2">#}
{#        Scan a Barcode:#}
{#    </div>#}
{#    <input class="col-md-4" id="barcodeValue" type="text" placeholder="Barcode">#}
{#    <input class="col-md-1" type="button" onclick="lookup()" value="Lookup">#}
{#    <input type="button" class="disabled" style="position:relative;" onclick="checkout()" id="checkout" value="Checkout" disabled>#}
{#    <br><br><br><br><br><br>#}
{#    <div class="hidden" style="padding: 5%; border: 1px solid black;" id="details">#}
{##}
{#    </div>#}
{##}
{#    <br><br><br><br>#}
{##}
{#<div class="hide" id="usedTemplate">#}
{#    <div class="portlet box red-thunderbird">#}
{#        <div class="portlet-title">#}
{#            <div class="caption">#}
{#                <i class="fa fa-exclamation"></i>&nbsp;&nbsp;Currently Checked Out#}
{#            </div>#}
{#        </div>#}
{#        <div class="portlet-body">#}
{#            <div class="slimScrollDiv" style="position: relative; overflow: hidden; width: auto; height: 50px;"><div class="scroller" style="height: 200px; overflow: hidden; width: auto;" data-rail-visible="1" data-rail-color="yellow" data-handle-color="#a1b2bd" data-initialized="1">#}
{#                <table style="font-size:10pt;">#}
{#                    <tr>#}
{#                        <td class="col-md-4" style="text-align:right">User:</td><td style="text-align:left">%i.checkout_user%</td>#}
{#                    </tr><tr>#}
{#                        <td class="col-md-4" style="text-align:right">Time:</td><td id="checkout_time_td" style="text-align:left">#}
{#                           </td>#}
{#                    </tr>#}
{#                </table>#}
{#            </div></div>#}
{#        </div>#}
{#    </div>#}
{#</div>#}
{##}
{#<div class="hide" id="freeTemplate">#}
{#    <div class="portlet box green">#}
{#        <div class="portlet-title">#}
{#            <div class="caption">#}
{#                <i class="fa fa-globe"></i>&nbsp;&nbsp;Available for Use#}
{#            </div>#}
{#        </div>#}
{#        <div class="portlet-body">#}
{#            <div class="slimScrollDiv" style="position: relative; overflow: hidden; width: auto; height: 50px;"><div class="scroller" style="height: 200px; overflow: hidden; width: auto;" data-rail-visible="1" data-rail-color="yellow" data-handle-color="#a1b2bd" data-initialized="1">#}
{#                <table style="font-size:12pt;">#}
{#                    <tr>#}
{#                        <td class="col-md-4" style="text-align:right">Location:</td><td style="text-align:left">%i.location%</td>#}
{#                    </tr><tr>#}
{#                        <td class="col-md-4" style="text-align:right">Room:</td><td style="text-align:left">%i.room%</td>#}
{#                    </tr>#}
{#                </table>#}
{#            </div></div>#}
{#        </div>#}
{#    </div>#}
{#</div>#}
{##}
{#<div class="hide" id="detailsTemplate">#}
{##}
{#    <div class="row">#}
{##}
{#    <table style="font-size: 16pt; font-weight: bold;" class="col-md-12">#}
{#        <tr>#}
{#            <td class="col-md-4" ><span class="Model">%i.model%</span></td>#}
{#            <td class="col-md-4" ><span class="Manufacturer">%i.manufacturer%</span></td>#}
{#            <td class="col-md-4" ><span class="Serial">S/N: %i.serial%</span></td>#}
{#        </tr>#}
{#    </table>#}
{##}
{#    </div>#}
{#<br><br><br>#}
{#    <div class="col-md-offset-1">#}
{#    <div class="row">#}
{#        <div class="col-md-6 Description">%i.description%</div>#}
{#    </div>#}
{#    <br><br>#}
{#        <div class="row">#}
{#            <div class="col-md-4">#}
{#                <br>#}
{#                %free_or_used%#}
{#            </div>#}
{#            <div style="text-align:right; margin-top: -50px; margin-right: 150px;"><img src="%i.product_url%"></div>#}
{#            <div style="position: relative; left: 80px; top: -30px;"><img src="%i.barcode_url%"></div>#}
{#        </div>#}
{##}
{#        <br><br>#}
{##}
{#        <div class="row">#}
{##}
{##}
{#        <table class="col-md-5">#}
{#                <tr>#}
{#                    <td class="col-md-6" style="text-align:right">Range Units:</td>#}
{#                    <td class="col-md-6" style="text-align:left">%i.range_units%</td>#}
{#                </tr>#}
{#                <tr>#}
{#                    <td class="col-md-6" style="text-align:right">Minimum:</td>#}
{#                    <td class="col-md-6" style="text-align:left">%i.range_min%</td>#}
{#                </tr>#}
{#                <tr>#}
{#                    <td class="col-md-6" style="text-align:right">Maximum:</td>#}
{#                    <td class="col-md-6" style="text-align:left">%i.range_max%</td>#}
{#                </tr>#}
{#                <tr><td><br></td><td><br></td></tr>#}
{#                <tr>#}
{#                    <td class="col-md-6" style="text-align:right">Measurement Units:</td>#}
{#                    <td class="col-md-6" style="text-align:left">%i.measure_units%</td>#}
{#                </tr>#}
{#                <tr>#}
{#                    <td class="col-md-6" style="text-align:right">Minimum:</td>#}
{#                    <td class="col-md-6" style="text-align:left">%i.measure_min%</td>#}
{#                </tr>#}
{#                <tr>#}
{#                    <td class="col-md-6" style="text-align:right">Maximum:</td>#}
{#                    <td class="col-md-6" style="text-align:left">%i.measure_max%</td>#}
{#                </tr>#}
{#                <tr><td><br></td><td><br></td></tr>#}
{#                <tr>#}
{#                    <td class="col-md-6" style="text-align:right">Excitation</td>#}
{#                    <td class="col-md-6" style="text-align:left">%i.excitation%</td>#}
{#                </tr>#}
{#                <tr>#}
{#                    <td class="col-md-6" style="text-align:right">Interface:</td>#}
{#                    <td class="col-md-6" style="text-align:left">%i.interface%</td>#}
{#                </tr>#}
{#            </table>#}
{##}
{#                <table class="col-md-5">#}
{#                    <tr>#}
{#                        <td class="col-md-6" style="text-align:right">UF Inventory: </td>#}
{#                        <td class="col-md-6" style="text-align:left">%i.uf_inventory%</td>#}
{#                    </tr>#}
{#                    <tr>#}
{#                        <td class="col-md-6" style="text-align:right">Type A: </td>#}
{#                        <td class="col-md-6" style="text-align:left">%i.type%</td>#}
{#                    </tr>#}
{#                    <tr>#}
{#                        <td class="col-md-6" style="text-align:right">Type B: </td>#}
{#                        <td class="col-md-6" style="text-align:left">%i.type2%</td>#}
{#                    </tr>#}
{#                    <tr><td><br></td><td><br></td></tr>#}
{#                    <tr>#}
{#                        <td class="col-md-6" style="text-align:right">Location: </td>#}
{#                        <td class="col-md-6" style="text-align:left">%i.location%</td>#}
{#                    </tr>#}
{#                    <tr>#}
{#                        <td class="col-md-6" style="text-align:right">Room: </td>#}
{#                        <td class="col-md-6" style="text-align:left">%i.room%</td>#}
{#                    </tr>#}
{#                    <tr>#}
{#                        <td class="col-md-6" style="text-align:right">Manual</td>#}
{#                        <td class="col-md-6" style="text-align:left">%i.manual%</td>#}
{#                    </tr>#}
{#                    <tr>#}
{#                        <td class="col-md-6" style="text-align:right">Source Grant:</td>#}
{#                        <td class="col-md-6" style="text-align:left">%i.source_grant%</td>#}
{#                    </tr>#}
{#                    <tr>#}
{#                        <td class="col-md-6" style="text-align:right">OCO Decal</td>#}
{#                        <td class="col-md-6" style="text-align:left">%i.oco_decal%</td>#}
{#                    </tr>#}
{#                                    <tr><td><br></td><td><br></td></tr>#}
{#                <tr>#}
{#                    <td class="col-md-6" style="text-align:right">Last Calibration:</td>#}
{#                    <td class="col-md-6" style="text-align:left">%i.last_check%</td>#}
{#                </tr>#}
{#                <tr>#}
{#                    <td class="col-md-6" style="text-align:right">Next Calibration:</td>#}
{#                    <td class="col-md-6" style="text-align:left">%i.next_check%</td>#}
{#                </tr>#}
{#                <tr>#}
{#                    <td class="col-md-6" style="text-align:right">Documentation:</td>#}
{#                    <td class="col-md-6" style="text-align:left">%i.calibration_doc%</td>#}
{#                </tr>#}
{#                </table>#}
{##}
{#        </div>#}
{#    </div>#}
{##}
{#</div>#}
{##}
{#<script>#}
{##}
{#window.Items = {};#}
{##}
{#window.Items.Schema = [#}
{#        "essie_barcode",#}
{#        "uf_inventory",#}
{#        "type",#}
{#        "type2",#}
{#        "category",#}
{#        "manufacturer",#}
{#        "model",#}
{#        "description",#}
{#        "serial",#}
{#        "location",#}
{#        "gps",#}
{#        "id",#}
{#        "last_check",#}
{#        "calibration_doc",#}
{#        "next_check",#}
{#        "range_units",#}
{#        "range_min",#}
{#        "range_max",#}
{#        "excitation",#}
{#        "interface",#}
{#        "measure_units",#}
{#        "measure_min",#}
{#        "measure_max",#}
{#        "room",#}
{#        "manual",#}
{#        "oco_decal",#}
{#        "source_grant",#}
{#        "created_on",#}
{#        "checkout_time",#}
{#        "checkout_user",#}
{#        "product_url",#}
{#        "barcode"#}
{#    ];#}
{##}
{#window.Items.Data = [];#}
{##}
{#    window.Items.displayData = function() {#}
{##}
{#        var detailsTemplate = document.getElementById("detailsTemplate").innerHTML,#}
{#                usedTemplate = document.getElementById("usedTemplate").innerHTML,#}
{#                freeTemplate = document.getElementById("freeTemplate").innerHTML;#}
{##}
{#        var detailsParent = document.getElementById("details");#}
{##}
{#        var details = [];#}
{##}
{#        for (var i = 0; i < Math.min(window.Items.Data.length,1); i++) {#}
{##}
{#            var item = window.Items.Data[String(i)];#}
{##}
{#            console.log(i + ': ' + item);#}
{##}
{#            var el = detailsTemplate,#}
{#                    snip = "";#}
{##}
{#            el = el.replace("%i.product_url%", item['product_url'] || 'http://placehold.it/250x250');#}
{#            el = el.replace("%i.barcode_url%", item['barcode_url']);#}
{##}
{#            // replace the templated variables#}
{#            for (var j = 0; j < window.Items.Schema.length; j++) {#}
{#                var tag = window.Items.Schema[j];#}
{##}
{#                el = el.replace("%i." + tag + "%", item[tag] || '');#}
{#            }#}
{##}
{#            // check if the item is 'available'#}
{##}
{#            if (item['checkout_time'] != "" && item['checkout_user'] != "" && item['checkout_time'] && item['checkout_user']) {#}
{#                snip = usedTemplate;#}
{#                snip = snip.replace("%i.checkout_time%", item['checkout_time'] || '').replace("%i.checkout_user%", item['checkout_user'] || '');#}
{##}
{#                el = el.replace("%free_or_used%", snip);#}
{#            } else {#}
{#                snip = freeTemplate;#}
{#                snip = snip.replace("%i.location%", item['location'] || '').replace("%i.room%", item['room'] || '');#}
{##}
{#                el = el.replace("%free_or_used%", snip);#}
{#            }#}
{##}
{#            details.push(el);#}
{#        }#}
{##}
{#        var final = "";#}
{##}
{#        for (var a = 0; a < details.length; a ++ )#}
{#            final += details[a] + '\n';#}
{##}
{#        detailsParent.innerHTML = final;#}
{##}
{#        if (window.Items.Data.length > 0) {#}
{#            detailsParent.classList.remove('hidden');#}
{##}
{#            document.getElementById("checkout").disabled = false;#}
{#            document.getElementById("checkout").classList.remove('disabled');#}
{#        } else {#}
{#            detailsParent.classList.add('hidden');#}
{##}
{#            document.getElementById("checkout").disabled = true;#}
{#            document.getElementById("checkout").classList.add('disabled');#}
{#        }#}
{##}
{#        try {#}
{#            document.getElementById('checkout_time_td').innerHTML = moment(item['checkout_time'], 'YYYY/MM/DD hh:mm:ss').fromNow();#}
{#        }catch(e) {}#}
{#    };#}
{##}
{#        function lookup() {#}
{##}
{#            var value = $("#barcodeValue").val();#}
{##}
{#            $.get('/items/search', {'query': 'barcode:'+value}, function(data) {#}
{#                window.Items.Data = JSON.parse(data)['results'];#}
{##}
{#                window.Items.displayData();#}
{#            });#}
{#        }#}
{##}
{#        function getCookie(name) {#}
{#            var cookieValue = null;#}
{#            if (document.cookie && document.cookie != '') {#}
{#                var cookies = document.cookie.split(';');#}
{#                for (var i = 0; i < cookies.length; i++) {#}
{#                    var cookie = jQuery.trim(cookies[i]);#}
{#                    // Does this cookie string begin with the name we want?#}
{#                    if (cookie.substring(0, name.length + 1) == (name + '=')) {#}
{#                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));#}
{#                        break;#}
{#                    }#}
{#                }#}
{#            }#}
{#            return cookieValue;#}
{#        }#}
{##}
{#        function checkout() {#}
{#            var value = window.Items.Data[0]['id'];#}
{##}
{#            console.log('VALUE: ' + value);#}
{##}
{#            if (!value) return;#}
{##}
{#            $.ajax({#}
{#                url: '/items/checkout?which='+String(value),#}
{#                type: 'POST',#}
{#                headers: {#}
{#                    'Item-ID': String(value)#}
{#                },#}
{#                data: {#}
{#                    'which': String(value)#}
{#                },#}
{#                dataType: "json",#}
{#                contentType:"application/json; charset=utf-8"#}
{#                }, function(data) { console.log('success ' + data); });#}
{#        }#}
{##}
{#    </script>#}
{##}
{#</div>#}

{% endblock %}