<!DOCTYPE html>
<html>
  <head>
    <link href="{{STATIC_URL}}style.css" rel="stylesheet" type="text/css">
  </head> 
  <body>
    <h1>Inventory - Delete Entry</h1>
    <form method="post" action="http://127.0.0.1:8000/delete/">
      {% csrf_token %}
      <input type="hidden" name="id" value="{{id}}">
      <p>Are you sure you want to delete this post?</p>
      <input type="submit" value="Delete">
    </form>
  </body>
</html>