{% extends 'base/base.html' %}

{% block header %}

<h3 class="page-title">
Check In/Out
</h3>
<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <i class="fa fa-home"></i>
            <a href="index.html">Home</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <a href="#">Lab Assistant</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <a href="#">Check In/Out an Item</a>
        </li>
    </ul>
</div>
{% endblock %}

{% block content %}
<section>
    {% include 'items_lockscreen_template.html' %}

    <style scoped>
        @import url(http://fonts.googleapis.com/css?family=Montserrat);

        .input {
            position: relative;
            z-index: 1;
            display: inline-block;
            margin: 1em;
            max-width: 350px;
            width: calc(100% - 2em);
            vertical-align: top;
        }

        .input__field {
            position: relative;
            display: block;
            float: right;
            padding: 0.8em;
            width: 60%;
            border: none;
            border-radius: 0;
            background: #f0f0f0;
            color: #aaa;
            font-weight: bold;
            font-family: "Montserrat", Helvetica, Arial, sans-serif;
            -webkit-appearance: none; /* for box shadows to show on iOS */
        }

        .input__field:focus {
            outline: none;
        }

        .input__label {
            display: inline-block;
            float: right;
            padding: 0 1em;
            width: 40%;
            color: #6a7989;
            font-weight: bold;
            font-size: 120.25%;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
            -webkit-touch-callout: none;
            -webkit-user-select: none;
            -khtml-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }

        .input__label-content {
            position: relative;
            display: block;
            padding: 1.6em 0;
            width: 100%;
        }

        .graphic {
            position: absolute;
            top: 0;
            left: 0;
            fill: none;
        }

        .icon {
            color: #ddd;
            font-size: 150%;
        }

        body {
            margin: 0;
            padding: 0;
            font-family: Montserrat;

            overflow: hidden;
        }

        .barwrap:nth-of-type(2) {
            width: 960px;
            margin: 0 auto;
            /*top: 50vh;*/
        }

        .barwrap:nth-of-type(3) {
            width: 960px;
            margin: 50px auto;
            /*top: 50vh;*/
        }

        .barwrap:nth-of-type(4) {
            width: 480px;

            margin: 50vh auto;
            position: absolute;
            left: calc( 50% - 240px );
            /*position: absolute;*/
            /*top: 50vh;*/
        }

        .hide {
            display: none;
        }

        /* Kyo */
        .input--kyo {
            z-index: auto;

            left: calc(50% - 175px);
        }

        .input__field--kyo {
            padding: 0.85em 1.5em;
            width: 100%;
            background: #fff;
            color: #535d92;

            box-shadow: 1px 1px 1px 1px black;
            transition: 0.5s ease-in-out all;
        }

        .input__label--kyo {
            z-index: 0;
            padding: 0 1em 0 0;
            width: 100%;
            text-align: center;
            transition: 0.5s ease-in-out all;
        }

        .input__label--kyo::after {
            content: '';
            position: fixed;
            top: 0;
            left: 0;
            z-index: 1000;
            width: 100vw;
            height: 100vh;
            background: rgba(11, 43, 205, 0.3);
            opacity: 0;
            -webkit-transition: opacity 0.3s;
            transition: opacity 0.3s;
            pointer-events: none;
        }

        .input__label-content--kyo {
            padding: 0.5em 0;
        }

        .input__field--kyo:focus,
        .input__field--kyo:focus +  .input__label--kyo .input__label-content--kyo {
            z-index: 10000;
        }

        .input__field--kyo:focus + .input__label--kyo {
            color: #fff;
        }

        #barcode:focus + #error_label {
            color: #fff;
        }

        .input__field--kyo:focus + .input__label--kyo::after {
            opacity: 1;
            transition: 0.5s ease-in-out all;
        }

        #error_label.slidOffscreen {
            position: absolute;
            transform: translateY(50px);
            transition: .5s ease-out all;
        }

        #error_label {
            opacity: 1.0;
            padding-right: 0px;
            position: absolute;

            top: -30px;
            transition: .5s ease-out all;
        }

        .hider {
            opacity: 0;
            transition: 0.5s ease-in-out all;
        }

        .juster table {
            vertical-align: top;
            padding-right: 20px;
        }
    </style>
<br>
<div class="barwrap">
    <span class="input input--kyo">
        <form>
            <label class="input__label input__label--kyo" for="barcode">
                <span class="input__label-content input__label-content--kyo slidOffscreen" id="error_label">Sorry, that item was not found.</span>
            </label>
            <input style="border-radius: 2em !important;" class="input__field input__field--kyo" id="barcode" type="text">
            <label class="input__label input__label--kyo" for="barcode">
                <span class="input__label-content input__label-content--kyo" id="barcode_label">Scan a Barcode</span>
            </label>
        </form>
    </span>
</div>

<div class="barwrap hider">
    <div class="detailsParent"></div>

    <div id="confirm"></div>
    <script> setTimeout(function(){ $("#confirm").html = "<strong><i>Checkout?</i></strong> Or Cancel?"; }, 5000);</script>
</div>

<script src="/static/js/items_lockscreen.js"></script>




</section>

{% endblock %}