<!DOCTYPE html>
<!--
Template Name: Metronic - Responsive Admin Dashboard Template build with Twitter Bootstrap 3.3.2
Version: 3.6.3
Author: KeenThemes
Website: http://www.keenthemes.com/
Contact: support@keenthemes.com
Follow: www.twitter.com/keenthemes
Like: www.facebook.com/keenthemes
Purchase: http://themeforest.net/item/metronic-responsive-admin-dashboard-template/4021469?ref=keenthemes
License: You must have a valid license purchased only from themeforest(the above link) in order to legally use the theme for your project.
-->
<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->
<!-- BEGIN HEAD -->
<head>
    <meta charset="utf-8"/>
    <title>ESSIE Web</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <meta content="" name="description"/>
    <meta content="Chris Pergrossi" name="author"/>
    <!-- BEGIN GLOBAL MANDATORY STYLES -->
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet"
          type="text/css">
    <link href="/static/js/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="/static/js/vendor/simple-line-icons/simple-line-icons.min.css" rel="stylesheet" type="text/css">
    <link href="/static/js/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="/static/js/vendor/uniform/css/uniform.default.css" rel="stylesheet" type="text/css">
    <link href="/static/js/vendor/bootstrap-switch/css/bootstrap-switch.min.css" rel="stylesheet"
          type="text/css"/>
    <link href="/static/style.css" rel="stylesheet" type="text/css"/>
    <!-- END GLOBAL MANDATORY STYLES -->
    <!-- BEGIN THEME STYLES -->
    <link href="/static/css/components.css" id="style_components" rel="stylesheet" type="text/css"/>
    <link href="/static/css/js/vendor.css" rel="stylesheet" type="text/css"/>
    <link href="/static/css/layout.css" rel="stylesheet" type="text/css"/>
    <link id="style_color" href="/static/css/themes/grey.css" rel="stylesheet" type="text/css"/>
    <link href="/static/css/custom.css" rel="stylesheet" type="text/css"/>
    <!-- END THEME STYLES -->
    <link rel="shortcut icon" href="favicon.ico"/>
</head>
<!-- END HEAD -->
<!-- BEGIN BODY -->
<!-- DOC: Apply "page-header-fixed-mobile" and "page-footer-fixed-mobile" class to body element to force fixed header or footer in mobile devices -->
<!-- DOC: Apply "page-sidebar-closed" class to the body and "page-sidebar-menu-closed" class to the sidebar menu element to hide the sidebar by default -->
<!-- DOC: Apply "page-sidebar-hide" class to the body to make the sidebar completely hidden on toggle -->
<!-- DOC: Apply "page-sidebar-closed-hide-logo" class to the body element to make the logo hidden on sidebar toggle -->
<!-- DOC: Apply "page-sidebar-hide" class to body element to completely hide the sidebar on sidebar toggle -->
<!-- DOC: Apply "page-sidebar-fixed" class to have fixed sidebar -->
<!-- DOC: Apply "page-footer-fixed" class to the body element to have fixed footer -->
<!-- DOC: Apply "page-sidebar-reversed" class to put the sidebar on the right side -->
<!-- DOC: Apply "page-full-width" class to the body element to have full width page without the sidebar menu -->
<body class="page-boxed page-header-fixed page-container-bg-solid">
<!-- BEGIN HEADER -->
<div class="page-header navbar navbar-fixed-top">
    <!-- BEGIN HEADER INNER -->
    <div class="page-header-inner container">
        <!-- BEGIN LOGO -->
        <div class="page-logo">
            <a href="/">
                {#			<img src="{{STATIC_URL}}img/logo-default.png" alt="logo" class="logo-default"/>#}
            </a>

            <div class="menu-toggler sidebar-toggler">
                <!-- DOC: Remove the above "hide" to enable the sidebar toggler button on header -->
            </div>
        </div>
        <!-- END LOGO -->
        <!-- BEGIN RESPONSIVE MENU TOGGLER -->
        <a href="javascript:" class="menu-toggler responsive-toggler" data-toggle="collapse"
           data-target=".navbar-collapse">
        </a>
        <!-- END RESPONSIVE MENU TOGGLER -->

        <!-- BEGIN PAGE TOP -->
        <div class="page-top">
            <!-- BEGIN HEADER SEARCH BOX -->
            <!-- DOC: Apply "search-form-expanded" right after the "search-form" class to have half expanded search box -->
            <form class="search-form search-form-expanded" action="javascript:dosearch('/items/search');" method="GET">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search..." id='query' name="query">
					<span class="input-group-btn">
					<a href="javascript:" class="btn submit"><i class="icon-magnifier"></i></a>
					</span>
                </div>
            </form>
            <!-- END HEADER SEARCH BOX -->
            <!-- BEGIN TOP NAVIGATION MENU -->
            <div class="top-menu">
                <ul class="nav navbar-nav pull-right">

{#                    {% include 'base/_notifications.html' %}#}

{#                    {% include 'base/_inbox.html' %}#}

{#                    {% include 'base/_todos.html' %}#}

                    <!-- BEGIN USER LOGIN DROPDOWN -->
                    <!-- DOC: Apply "dropdown-dark" class after below "dropdown-extended" to change the dropdown styte -->
                    <li class="dropdown dropdown-user">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown"
                           data-close-others="true">
                            <img alt="" class="img-circle" src="../../assets/admin/layout2/img/avatar3_small.jpg"/>
						<span class="username username-hide-on-mobile">
						Chris </span>
                            <i class="fa fa-angle-down"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-default">
                            <li>
                                <a href="extra_profile.html">
                                    <i class="icon-user"></i> My Profile </a>
                            </li>
                            <li>
                                <a href="page_calendar.html">
                                    <i class="icon-calendar"></i> My Calendar </a>
                            </li>
                            <li>
                                <a href="inbox.html">
                                    <i class="icon-envelope-open"></i> My Inbox <span class="badge badge-danger">
								3 </span>
                                </a>
                            </li>
                            <li>
                                <a href="page_todo.html">
                                    <i class="icon-rocket"></i> My Tasks <span class="badge badge-success">
								7 </span>
                                </a>
                            </li>
                            <li class="divider">
                            </li>
                            <li>
                                <a href="extra_lock.html">
                                    <i class="icon-lock"></i> Lock Screen </a>
                            </li>
                            <li>
                                <a href="/logout">
                                    <i class="icon-key"></i> Log Out </a>
                            </li>
                        </ul>
                    </li>
                    <!-- END USER LOGIN DROPDOWN -->
                </ul>
            </div>
            <!-- END TOP NAVIGATION MENU -->
        </div>
        <!-- END PAGE TOP -->
    </div>
    <!-- END HEADER INNER -->
</div>
<!-- END HEADER -->
<div class="clearfix">
</div>
<div class="container">
    <!-- BEGIN CONTAINER -->
    <div class="page-container">

        {% include 'base/_sidebar.html' %}

        <!-- BEGIN CONTENT -->
        <div class="page-content-wrapper">
            <div class="page-content">
                <!-- BEGIN SAMPLE PORTLET CONFIGURATION MODAL FORM-->
                <div class="modal fade" id="portlet-config" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                     aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                                <h4 class="modal-title">Modal title</h4>
                            </div>
                            <div class="modal-body">
                                Widget settings form goes here
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn blue">Save changes</button>
                                <button type="button" class="btn default" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                        <!-- /.modal-content -->
                    </div>
                    <!-- /.modal-dialog -->
                </div>
                <!-- /.modal -->
                <!-- END SAMPLE PORTLET CONFIGURATION MODAL FORM-->

                <!-- BEGIN PAGE HEADER-->
                <h3 class="page-title">
                    Update Item
                    <small>Inventory</small>
                </h3>
                <div class="page-bar">
                    <ul class="page-breadcrumb">
                        <li>
                            <i class="fa fa-home"></i>
                            <a href="index.html">Home</a>
                            <i class="fa fa-angle-right"></i>
                        </li>
                        <li>
                            <a href="#">Inventory</a>
                            <i class="fa fa-angle-right"></i>
                        </li>
                        <li>
                            <a href="#">Update Item</a>
                        </li>
                    </ul>
                </div>
                <br><br><br>
                <!-- END PAGE HEADER-->
                <!-- BEGIN PAGE CONTENT-->
                <div class="row">
                <span class="col-md-3 col-md-offset-2">Product Image (click to change):</span> <span class="col-md-4"><img id="product_image" src="{% if item.product_url %} {{ item.product_url }} {% else %} http://placehold.it/250x250 {% endif %}"></span>
                </div>
            <br><br>
                <form method="post" action="http://127.0.0.1:8000/items/update/">
                    <div class="row">
                        <div class="col-md-12">
                            <table>
                                <tr>
                                    <td class="col-md-3"><span class="Model">Model: <input type='text' value="{{ item.model }}" name="model" id="in_model"></span></td>
                                    <td class="col-md-4"><span class="Manufacturer">Manufacturer: <input type='text' value="{{ item.manufacturer }}" name="manufacturer" id="in_manufacturer"></span></td>
                                    <td class="col-md-3"><span class="Serial">S/N: <input type='text' value="{{ item.serial }}" name="serial" id="in_serial"></span></td>
                                    <td class="col-md-2"><span class="Category">Category: <select name="category" id="in_category">
                                        <option {% if item.category == 'sensing' %} selected {% endif %}>Sensing</option>
                                        <option {% if item.category == 'control' %} selected {% endif %}>Control</option>
                                        <option {% if item.category == 'data' %} selected {% endif %}>Data</option>
                                        <option {% if item.category == 'vision' %} selected {% endif %}>Vision</option>
                                    </select></span></td>
                                </tr>
                            </table><br><br>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-5 col-md-offset-2">Description: <br><textarea name="description" id="in_description" style="font-size: 12pt; width:350px; height: 200px; resize: none;">{{ item.description }}</textarea></div>
                        <div style="position: relative; top: 40px;" class="col-md-3"><img src="/static/img/barcodes/{{ item.id }}.svg"></div>
                    </div>

                    <br><br>

                    <div class="row">


                        <table class="col-md-5">
                            <tr>
                                <td class="col-md-6" style="text-align:right">Range Units:</td>
                                <td class="col-md-6" style="text-align:left"><input type='text' value="{{ item.range_units }}" name="range_units" id="in_range_units"></td>
                            </tr>
                            <tr>
                                <td class="col-md-6" style="text-align:right">Minimum:</td>
                                <td class="col-md-6" style="text-align:left"><input type='text' value="{{ item.range_min }}" name="range_min" id="in_range_min"></td>
                            </tr>
                            <tr>
                                <td class="col-md-6" style="text-align:right">Maximum:</td>
                                <td class="col-md-6" style="text-align:left"><input type='text' value="{{ item.range_max }}" name="range_max" id="in_range_max"></td>
                            </tr>
                            <tr>
                                <td><br></td>
                                <td><br></td>
                            </tr>
                            <tr>
                                <td class="col-md-6" style="text-align:right">Measurement Units:</td>
                                <td class="col-md-6" style="text-align:left"><input type='text' value="{{ item.measure_units }}" name="measure_units" id="in_measure_units"></td>
                            </tr>
                            <tr>
                                <td class="col-md-6" style="text-align:right">Minimum:</td>
                                <td class="col-md-6" style="text-align:left"><input type='text' value="{{ item.measure_min }}" name="measure_min" id="in_measure_min"></td>
                            </tr>
                            <tr>
                                <td class="col-md-6" style="text-align:right">Maximum:</td>
                                <td class="col-md-6" style="text-align:left"><input type='text' value="{{ item.measure_max }}" name="measure_max" id="in_measure_max"></td>
                            </tr>
                            <tr>
                                <td><br></td>
                                <td><br></td>
                            </tr>
                            <tr>
                                <td class="col-md-6" style="text-align:right">Excitation</td>
                                <td class="col-md-6" style="text-align:left"><input type='text' value="{{ item.excitation }}" name="excitation" id="in_excitation"></td>
                            </tr>
                            <tr>
                                <td class="col-md-6" style="text-align:right">Interface:</td>
                                <td class="col-md-6" style="text-align:left"><input type='text' value="{{ item.interface }}" name="interface" id="in_interface"></td>
                            </tr>
                        </table>

                        <table class="col-md-5">
                            <tr>
                                <td class="col-md-6" style="text-align:right">UF Inventory:</td>
                                <td class="col-md-6" style="text-align:left"><input type='text' value="{{ item.uf_inventory }}" name="uf_inventory" id="in_uf_inventory"></td>
                            </tr>
                            <tr>
                                <td class="col-md-6" style="text-align:right">Type A:</td>
                                <td class="col-md-6" style="text-align:left"><input type='text' value="{{ item.type }}" name="type" id="in_type"></td>
                            </tr>
                            <tr>
                                <td class="col-md-6" style="text-align:right">Type B:</td>
                                <td class="col-md-6" style="text-align:left"><input type='text' value="{{ item.type2 }}" name="type2" id="in_type2"></td>
                            </tr>
                            <tr>
                                <td><br></td>
                                <td><br></td>
                            </tr>
                            <tr>
                                <td class="col-md-6" style="text-align:right">Location:</td>
                                <td class="col-md-6" style="text-align:left"><input type='text' value="{{ item.location }}" name="location" id="in_location"></td>
                            </tr>
                            <tr>
                                <td class="col-md-6" style="text-align:right">Room:</td>
                                <td class="col-md-6" style="text-align:left"><input type='text' value="{{ item.room }}" name="room" id="in_room"></td>
                            </tr>
                            <tr>
                                <td class="col-md-6" style="text-align:right">Manual</td>
                                <td class="col-md-6" style="text-align:left"><input type='text' value="{{ item.manual }}" name="manual" id="in_manual"></td>
                            </tr>
                            <tr>
                                <td class="col-md-6" style="text-align:right">Source Grant:</td>
                                <td class="col-md-6" style="text-align:left"><input type='text' value="{{ item.source_grant }}" name="source_grant" id="in_source_grant"></td>
                            </tr>
                            <tr>
                                <td class="col-md-6" style="text-align:right">OCO Decal</td>
                                <td class="col-md-6" style="text-align:left"><input type='text' value="{{ item.oco_decal }}" name="oco_decal" id="in_oco_decal"></td>
                            </tr>
                            <tr>
                                <td><br></td>
                                <td><br></td>
                            </tr>
                            <tr>
                                <td class="col-md-6" style="text-align:right">Last Calibration:</td>
                                <td class="col-md-6" style="text-align:left"><input type='text' value="{{ item.last_check }}" name="last_check" id="in_last_check"></td>
                            </tr>
                            <tr>
                                <td class="col-md-6" style="text-align:right">Next Calibration:</td>
                                <td class="col-md-6" style="text-align:left"><input type='text' value="{{ item.next_check }}" name="next_check" id="in_next_check"></td>
                            </tr>
                            <tr>
                                <td class="col-md-6" style="text-align:right">Documentation:</td>
                                <td class="col-md-6" style="text-align:left"><input type='text' value="{{ item.calibration_doc }}" name="calibration_doc" id="in_calibration_doc"></td>
                            </tr>
                        </table>

                    </div><br><br>
                    <input type="hidden" name="id" id="in_id" value="{{ item.id }}">
                    <div style="position:relative; margin: 0 auto; left:calc(50% - 100px);">
                        <input type="button" value="Cancel">
                        <input type="submit" value="Save Changes">
                    </div>
                </form>


            </div>
        </div>
        <!-- END PAGE CONTENT-->
        <!-- END CONTENT -->
        <!-- BEGIN QUICK SIDEBAR -->
        <!--Cooming Soon...-->
        <!-- END QUICK SIDEBAR -->
        <!-- END CONTAINER -->
        <!-- BEGIN FOOTER -->
        <div class="page-footer">
            <div style="width: 100%; text-align:center" class="page-footer-inner">
                2015 &copy; Chris Pergrossi. Select items used with permission.
            </div>
            <div class="scroll-to-top">
                <i class="icon-arrow-up"></i>
            </div>
        </div>
        <!-- END FOOTER -->
    </div>
</div>
<!-- BEGIN JAVAjs/vendor(Load javajs/vendor at bottom, this will reduce page load time) -->
<!-- BEGIN CORE js/vendor -->
<!--[if lt IE 9]>
<script src="../../assets/global/js/vendor/respond.min.js"></script>
<script src="../../assets/global/js/vendor/excanvas.min.js"></script>
<![endif]-->
<script src="/static/js/vendor/jquery.min.js" type="text/javascript"></script>
<script src="/static/js/vendor/jquery-migrate.min.js" type="text/javascript"></script>
<!-- IMPORTANT! Load jquery-ui.min.js before bootstrap.min.js to fix bootstrap tooltip conflict with jquery ui tooltip -->
<script src="/static/js/vendor/jquery-ui/jquery-ui.min.js" type="text/javascript"></script>
<script src="/static/js/vendor/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
<script src="/static/js/vendor/bootstrap-hover-dropdown/bootstrap-hover-dropdown.min.js"
        type="text/javascript"></script>
<script src="/static/js/vendor/jquery-slimscroll/jquery.slimscroll.min.js" type="text/javascript"></script>
<script src="/static/js/vendor/jquery.blockui.min.js" type="text/javascript"></script>
<script src="/static/js/vendor/jquery.cokie.min.js" type="text/javascript"></script>
<script src="/static/js/vendor/uniform/jquery.uniform.min.js" type="text/javascript"></script>
<script src="/static/js/vendor/bootstrap-switch/js/bootstrap-switch.min.js" type="text/javascript"></script>
<!-- END CORE js/vendor -->
<script src="/static/js/vendor/metronic.js" type="text/javascript"></script>
<script src="/static/js/vendor/layout.js" type="text/javascript"></script>
<script src="/static/js/vendor/demo.js" type="text/javascript"></script>
<script src="/static/js/vendor/dropzone.js" type="text/javascript"></script>
<script>
    jQuery(document).ready(function () {
        Metronic.init(); // init metronic core components
        Layout.init(); // init current layout
        Demo.init(); // init demo features
    });
</script>
<script>

    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie != '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = jQuery.trim(cookies[i]);
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) == (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }

    $("img#product_image").dropzone({ url: "/items/upload_pimage", headers: { 'X-CSRFToken': getCookie('csrftoken'), 'Item-ID' : "{{ item.id }}" } });

    function dosearch() {
        var query = $(document.getElementById('query')).val();

        console.log(query);

        $.get('/items/search', {query: query},
                function (data) {
                    if (!data || !window.Items) {
                        return;
                    }

                    data = JSON.parse(data);

                    window.Items.Data = data.results;

                    console.log(window.Items.Data);

                    if (window.Items.displayData) {
                        window.Items.displayData();
                    } else {
                        console.log("no display data");
                    }
                }
        );
    }

</script>
<!-- END JAVAjs/vendor -->
</body>
<!-- END BODY -->
</html>