<div class="hide" id="detailsTemplate">

    <br><br><br>
    <button id="inout" style="position: relative; left: 50%; transform: translateX(-50%); width:150px; height: 50px; box-shadow: none; border-radius: 2em !important; margin: 0 auto;" id="continue" onclick="checkinout()"><span>Continue</span></button>
    <br><br><br>
<div class="row">
<ul style="list-style: none;">
    <li class="col-md-4" ><span style="font-size: 10pt; padding-right: 10px;" class="Model">Model:</span><span><h2>%i.model%</h2></span></li>
    <li class="col-md-4" ><span style="font-size: 10pt; padding-right: 10px;" class="Manufacturer">Maker:</span><span><h3>%i.manufacturer%</h3></span></li>
    <li class="col-md-3" ><span style="font-size: 10pt; padding-right: 10px;" class="Serial">S/N:</span><span><h3>%i.serial%</h3></span></li>
</ul>
</div>
<br><br>
<div class="row">
<div class="col-md-8 Description" style="text-align: left">%i.description%</div><br>
<div style="margin-top: 0px; display: inline-block; object-fit: cover; width: 100px; height: 100px; position: relative; margin-bottom: 30px; margin-left: 600px;"><img src="%i.product_url%"></div>
</div>
<br><br><br>
<div class="juster" style="text-align:justify;">
<table style="width:700px; position: relative; margin-top: -100px;">
<thead>
<tr>
    <td style="vertical-align: top; width: 50%"></td>
    <td style="vertical-align: top; width: 50%"></td>
</tr>
</thead>
<tr>
<td>
    <table style="display: inline-block; line-height: 18pt;">
        <tr>
            <td style="font-size: 10pt;padding-right: 10px; text-align:right">Range Units:</td>
            <td style="text-align:left; font-size: 13pt;">%i.range_units%</td>
        </tr>
        <tr>
            <td style="font-size: 10pt;padding-right: 10px; text-align:right">Minimum:</td>
            <td style="text-align:left; font-size: 13pt;">%i.range_min%</td>
        </tr>
        <tr>
            <td style="font-size: 10pt;padding-right: 10px; text-align:right">Maximum:</td>
            <td style="text-align:left; font-size: 13pt;">%i.range_max%</td>
        </tr>
        <tr>
            <td style="font-size: 10pt; padding-right: 10px; text-align:right">Measurement Units:</td>
            <td style="text-align:left; font-size: 13pt;">%i.measure_units%</td>
        </tr>
        <tr>
            <td style="font-size: 10pt;padding-right: 10px; text-align:right">Minimum:</td>
            <td style="text-align:left; font-size: 13pt;">%i.measure_min%</td>
        </tr>
        <tr>
            <td style="font-size: 10pt;padding-right: 10px; text-align:right">Maximum:</td>
            <td style="text-align:left; font-size: 13pt;">%i.measure_max%</td>
        </tr>
        <tr>
            <td style="font-size: 10pt;padding-right: 10px; text-align:right">Last Calibration:</td>
            <td style="text-align:left; font-size: 13pt;">%i.last_check%</td>
        </tr>
        <tr>
            <td style="font-size: 10pt;padding-right: 10px; text-align:right">Next Calibration:</td>
            <td style="text-align:left; font-size: 13pt;">%i.next_check%</td>
        </tr>
        <tr>
            <td style="font-size: 10pt;padding-right: 10px; text-align:right">Documentation:</td>
            <td style="text-align:left; font-size: 13pt;">%i.calibration_doc%</td>
        </tr>
    </table>
</td>
<td>
    <table style="display: inline-block; line-height: 18pt;">
        <tr>
            <td style="font-size: 10pt;padding-right: 10px; text-align:right">Location: </td>
            <td style="text-align:left; font-size: 13pt;">%i.location%</td>
        </tr>
        <tr>
            <td style="font-size: 10pt;padding-right: 10px; text-align:right">Room: </td>
            <td style="text-align:left; font-size: 13pt;">%i.room%</td>
        </tr>
        <tr>
            <td style="font-size: 10pt;padding-right: 10px; text-align:right">Manual</td>
            <td style="text-align:left; font-size: 13pt;">%i.manual%</td>
        </tr>
        <tr>
            <td style="font-size: 10pt;padding-right: 10px; text-align:right">Source Grant:</td>
            <td style="text-align:left; font-size: 13pt;">%i.source_grant%</td>
        </tr>
        <tr>
            <td style="font-size: 10pt;padding-right: 10px; text-align:right">OCO Decal</td>
            <td style="text-align:left; font-size: 13pt;">%i.oco_decal%</td>
        </tr>
        <tr>
            <td style="font-size: 10pt;padding-right: 10px; text-align:right">Excitation</td>
            <td style="text-align:left; font-size: 13pt;">%i.excitation%</td>
        </tr>
        <tr>
            <td style="font-size: 10pt;padding-right: 10px; text-align:right">Interface:</td>
            <td style="text-align:left; font-size: 13pt;">%i.interface%</td>
        </tr>
        <tr>
            <td style="font-size: 10pt;padding-right: 10px; text-align:right">UF Inventory: </td>
            <td style="text-align:left; font-size: 13pt;">%i.uf_inventory%</td>
        </tr>
        <tr>
            <td style="font-size: 10pt;padding-right: 10px; text-align:right">Type A: </td>
            <td style="text-align:left; font-size: 13pt;">%i.type%</td>
        </tr>
        <tr>
            <td style="font-size: 10pt;padding-right: 10px; text-align:right">Type B: </td>
            <td style="text-align:left; font-size: 13pt;">%i.type2%</td>
        </tr>
    </table>
    </td>
    </tr></table>
</div>
</div>