{% extends 'base/base.html' %}

{% block header %}

<h3 class="page-title">
View Inventory <small>ESSIE Database</small>
</h3>
<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <i class="fa fa-home"></i>
            <a href="index.html">Home</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <a href="#">Lab Assistant</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <a href="#">All Items</a>
        </li>
    </ul>
</div>
{% endblock %}

{% block content %}

<br><br><br><br>

<div class="hide" id="usedTemplate">
    <div class="portlet box red-thunderbird">
        <div class="portlet-title">
            <div class="caption">
                <i class="fa fa-exclamation"></i>&nbsp;&nbsp;Currently Checked Out
            </div>
        </div>
        <div class="portlet-body">
            <div class="slimScrollDiv" style="position: relative; overflow: hidden; width: auto; height: 50px;"><div class="scroller" style="height: 200px; overflow: hidden; width: auto;" data-rail-visible="1" data-rail-color="yellow" data-handle-color="#a1b2bd" data-initialized="1">
                <table style="font-size:10pt;">
                    <tr>
                        <td class="col-md-4" style="text-align:right">User:</td><td style="text-align:left">%i.checkout_user%</td>
                    </tr><tr>
                        <td class="col-md-4" style="text-align:right">Time:</td><td class="checkout_time_td" style="text-align:left"></td>
                    </tr>
                </table>
            </div></div>
        </div>
    </div>
</div>

<div class="hide" id="freeTemplate">
    <div class="portlet box green">
        <div class="portlet-title">
            <div class="caption">
                <i class="fa fa-globe"></i>&nbsp;&nbsp;Available for Use
            </div>
        </div>
        <div class="portlet-body">
            <div class="slimScrollDiv" style="position: relative; overflow: hidden; width: auto; height: 50px;"><div class="scroller" style="height: 200px; overflow: hidden; width: auto;" data-rail-visible="1" data-rail-color="yellow" data-handle-color="#a1b2bd" data-initialized="1">
                <table style="font-size:12pt;">
                    <tr>
                        <td class="col-md-4" style="text-align:right">Location:</td><td style="text-align:left">%i.location%</td>
                    </tr><tr>
                        <td class="col-md-4" style="text-align:right">Room:</td><td style="text-align:left">%i.room%</td>
                    </tr>
                </table>
            </div></div>
        </div>
    </div>
</div>

{#<div class="hide" id="detailsTemplate">#}
{##}
{#    <div class="row">#}
{##}
{#    <table class="item-row col-md-12">#}
{#        <tr>#}
{#            <td class="col-md-5" ><span class="Model">%i.model%</span></td>#}
{#            <td class="col-md-3" ><span class="Manufacturer">%i.manufacturer%</span></td>#}
{#            <td class="col-md-3" ><span class="Serial">S/N: %i.serial%</span></td>#}
{#            <td class="col-md-1" ><span class="Category">%i.category%</span></td>#}
{#            <td style="background-color:white; padding-left:15px;"><a href="/items/update?id=%i.id%">Edit</a></td>#}
{#        </tr>#}
{#    </table>#}
{##}
{#    </div>#}
{##}
{#    <div class="col-md-offset-1">#}
{#    <div class="row">#}
{#        <div class="col-md-6 Description">%i.description%</div>#}
{#    </div>#}
{#    <br><br>#}
{#        <div class="row">#}
{#            <div class="col-md-4">#}
{#                <br>#}
{#                %free_or_used%#}
{#            </div>#}
{#            <div style="text-align:right; margin-top: -50px; margin-right: 150px;"><img src="%i.product_url%"></div>#}
{#            <div style="position: relative; left: 80px; top: -30px;"><img src="%i.barcode_url%"></div>#}
{#        </div>#}
{##}
{#        <br><br>#}
{##}
{#        <div class="row">#}
{##}
{##}
{#        <table class="col-md-5">#}
{#                <tr>#}
{#                    <td class="col-md-6" style="text-align:right">Range Units:</td>#}
{#                    <td class="col-md-6" style="text-align:left">%i.range_units%</td>#}
{#                </tr>#}
{#                <tr>#}
{#                    <td class="col-md-6" style="text-align:right">Minimum:</td>#}
{#                    <td class="col-md-6" style="text-align:left">%i.range_min%</td>#}
{#                </tr>#}
{#                <tr>#}
{#                    <td class="col-md-6" style="text-align:right">Maximum:</td>#}
{#                    <td class="col-md-6" style="text-align:left">%i.range_max%</td>#}
{#                </tr>#}
{#                <tr><td><br></td><td><br></td></tr>#}
{#                <tr>#}
{#                    <td class="col-md-6" style="text-align:right">Measurement Units:</td>#}
{#                    <td class="col-md-6" style="text-align:left">%i.measure_units%</td>#}
{#                </tr>#}
{#                <tr>#}
{#                    <td class="col-md-6" style="text-align:right">Minimum:</td>#}
{#                    <td class="col-md-6" style="text-align:left">%i.measure_min%</td>#}
{#                </tr>#}
{#                <tr>#}
{#                    <td class="col-md-6" style="text-align:right">Maximum:</td>#}
{#                    <td class="col-md-6" style="text-align:left">%i.measure_max%</td>#}
{#                </tr>#}
{#                <tr><td><br></td><td><br></td></tr>#}
{#                <tr>#}
{#                    <td class="col-md-6" style="text-align:right">Excitation</td>#}
{#                    <td class="col-md-6" style="text-align:left">%i.excitation%</td>#}
{#                </tr>#}
{#                <tr>#}
{#                    <td class="col-md-6" style="text-align:right">Interface:</td>#}
{#                    <td class="col-md-6" style="text-align:left">%i.interface%</td>#}
{#                </tr>#}
{#            </table>#}
{##}
{#                <table class="col-md-5">#}
{#                    <tr>#}
{#                        <td class="col-md-6" style="text-align:right">UF Inventory: </td>#}
{#                        <td class="col-md-6" style="text-align:left">%i.uf_inventory%</td>#}
{#                    </tr>#}
{#                    <tr>#}
{#                        <td class="col-md-6" style="text-align:right">Type A: </td>#}
{#                        <td class="col-md-6" style="text-align:left">%i.type%</td>#}
{#                    </tr>#}
{#                    <tr>#}
{#                        <td class="col-md-6" style="text-align:right">Type B: </td>#}
{#                        <td class="col-md-6" style="text-align:left">%i.type2%</td>#}
{#                    </tr>#}
{#                    <tr><td><br></td><td><br></td></tr>#}
{#                    <tr>#}
{#                        <td class="col-md-6" style="text-align:right">Location: </td>#}
{#                        <td class="col-md-6" style="text-align:left">%i.location%</td>#}
{#                    </tr>#}
{#                    <tr>#}
{#                        <td class="col-md-6" style="text-align:right">Room: </td>#}
{#                        <td class="col-md-6" style="text-align:left">%i.room%</td>#}
{#                    </tr>#}
{#                    <tr>#}
{#                        <td class="col-md-6" style="text-align:right">Manual</td>#}
{#                        <td class="col-md-6" style="text-align:left">%i.manual%</td>#}
{#                    </tr>#}
{#                    <tr>#}
{#                        <td class="col-md-6" style="text-align:right">Source Grant:</td>#}
{#                        <td class="col-md-6" style="text-align:left">%i.source_grant%</td>#}
{#                    </tr>#}
{#                    <tr>#}
{#                        <td class="col-md-6" style="text-align:right">OCO Decal</td>#}
{#                        <td class="col-md-6" style="text-align:left">%i.oco_decal%</td>#}
{#                    </tr>#}
{#                                    <tr><td><br></td><td><br></td></tr>#}
{#                <tr>#}
{#                    <td class="col-md-6" style="text-align:right">Last Calibration:</td>#}
{#                    <td class="col-md-6" style="text-align:left">%i.last_check%</td>#}
{#                </tr>#}
{#                <tr>#}
{#                    <td class="col-md-6" style="text-align:right">Next Calibration:</td>#}
{#                    <td class="col-md-6" style="text-align:left">%i.next_check%</td>#}
{#                </tr>#}
{#                <tr>#}
{#                    <td class="col-md-6" style="text-align:right">Documentation:</td>#}
{#                    <td class="col-md-6" style="text-align:left">%i.calibration_doc%</td>#}
{#                </tr>#}
{#                </table>#}
{##}
{#        </div>#}
{##}
{#    <br><br><br><br><br><br>#}
{##}
{#    </div>#}
{##}
{#</div>#}
<div class="hide" id="detailsTemplate">
<div style="background-color: rgba(255,196,68,.35); margin-left:-20px; border-radius: 0 2em 2em 0 !important;" class="row">
<ul style="list-style: none;">
    <li class="col-md-5" ><span style="font-size: 10pt; padding-right: 10px;" class="Model">Model:</span><span><h2>%i.model%</h2></span></li>
    <li class="col-md-3" ><span style="font-size: 10pt; padding-right: 10px;" class="Manufacturer">Maker:</span><span><h3>%i.manufacturer%</h3></span></li>
    <li class="col-md-2" ><span style="font-size: 10pt; padding-right: 10px;" class="Serial">S/N:</span><span><h3>%i.serial%</h3></span></li>
    <li class="col-md-1" ><a href="/items/update?id=%i.id%">Edit</a></li>       {# TODO: Don't display this if user doesn't have admin ability #}
</ul>
</div>
<br><br>
<div class="row">
<div class="col-md-6 Description" style="text-align: center">%i.description%</div><br>
<div class="col-md-4">
  %free_or_used%
</div>
<div style="margin-top: 0px; display: inline-block; object-fit: cover; width: 100px; height: 100px; position: relative; margin-bottom: 30px; margin-left: 600px;"><img src="%i.product_url%"></div>
</div>
<br><br><br>
<div class="juster" style="text-align:justify;">
<table style="width:700px; position: relative; margin-top: -180px;">
<thead>
<tr>
    <td style="vertical-align: top; width: 50%"></td>
    <td style="vertical-align: top; width: 50%"></td>
</tr>
</thead>
<tr>
<td>
    <table style="display: inline-block; line-height: 18pt;">
        <tr>
            <td style="font-size: 10pt;padding-right: 10px; text-align:right">Range Units:</td>
            <td style="text-align:left; font-size: 13pt;">%i.range_units%</td>
        </tr>
        <tr>
            <td style="font-size: 10pt;padding-right: 10px; text-align:right">Minimum:</td>
            <td style="text-align:left; font-size: 13pt;">%i.range_min%</td>
        </tr>
        <tr>
            <td style="font-size: 10pt;padding-right: 10px; text-align:right">Maximum:</td>
            <td style="text-align:left; font-size: 13pt;">%i.range_max%</td>
        </tr>
        <tr>
            <td style="font-size: 10pt; padding-right: 10px; text-align:right">Measurement Units:</td>
            <td style="text-align:left; font-size: 13pt;">%i.measure_units%</td>
        </tr>
        <tr>
            <td style="font-size: 10pt;padding-right: 10px; text-align:right">Minimum:</td>
            <td style="text-align:left; font-size: 13pt;">%i.measure_min%</td>
        </tr>
        <tr>
            <td style="font-size: 10pt;padding-right: 10px; text-align:right">Maximum:</td>
            <td style="text-align:left; font-size: 13pt;">%i.measure_max%</td>
        </tr>
        <tr>
            <td style="font-size: 10pt;padding-right: 10px; text-align:right">Last Calibration:</td>
            <td style="text-align:left; font-size: 13pt;">%i.last_check%</td>
        </tr>
        <tr>
            <td style="font-size: 10pt;padding-right: 10px; text-align:right">Next Calibration:</td>
            <td style="text-align:left; font-size: 13pt;">%i.next_check%</td>
        </tr>
        <tr>
            <td style="font-size: 10pt;padding-right: 10px; text-align:right">Documentation:</td>
            <td style="text-align:left; font-size: 13pt;">%i.calibration_doc%</td>
        </tr>
    </table>
</td>
<td>
    <table style="display: inline-block; line-height: 18pt;">
        <tr>
            <td style="font-size: 10pt;padding-right: 10px; text-align:right">Location: </td>
            <td style="text-align:left; font-size: 13pt;">%i.location%</td>
        </tr>
        <tr>
            <td style="font-size: 10pt;padding-right: 10px; text-align:right">Room: </td>
            <td style="text-align:left; font-size: 13pt;">%i.room%</td>
        </tr>
        <tr>
            <td style="font-size: 10pt;padding-right: 10px; text-align:right">Manual</td>
            <td style="text-align:left; font-size: 13pt;">%i.manual%</td>
        </tr>
        <tr>
            <td style="font-size: 10pt;padding-right: 10px; text-align:right">Source Grant:</td>
            <td style="text-align:left; font-size: 13pt;">%i.source_grant%</td>
        </tr>
        <tr>
            <td style="font-size: 10pt;padding-right: 10px; text-align:right">OCO Decal</td>
            <td style="text-align:left; font-size: 13pt;">%i.oco_decal%</td>
        </tr>
        <tr>
            <td style="font-size: 10pt;padding-right: 10px; text-align:right">Excitation</td>
            <td style="text-align:left; font-size: 13pt;">%i.excitation%</td>
        </tr>
        <tr>
            <td style="font-size: 10pt;padding-right: 10px; text-align:right">Interface:</td>
            <td style="text-align:left; font-size: 13pt;">%i.interface%</td>
        </tr>
        <tr>
            <td style="font-size: 10pt;padding-right: 10px; text-align:right">UF Inventory: </td>
            <td style="text-align:left; font-size: 13pt;">%i.uf_inventory%</td>
        </tr>
        <tr>
            <td style="font-size: 10pt;padding-right: 10px; text-align:right">Type A: </td>
            <td style="text-align:left; font-size: 13pt;">%i.type%</td>
        </tr>
        <tr>
            <td style="font-size: 10pt;padding-right: 10px; text-align:right">Type B: </td>
            <td style="text-align:left; font-size: 13pt;">%i.type2%</td>
        </tr>
    </table>
    </td>
    </tr></table>
</div>
<br><br><hr>
</div>

<div>
<ul class="pagination pagination-right">
    <li><a id="prevPage" href=""><i class="fa fa-angle-left"></i></a></li>
    <li><a id="nextPage" href=""><i class="fa fa-angle-right"></i></a></li>
</ul>
</div><br><br><br>

<script src="{{ STATIC_URL }}scripts/moment.js"></script>

<div id="detailsParent">

</div>

<script>

window.Items = {};

window.Items.Schema = [
        "essie_barcode",
        "uf_inventory",
        "type",
        "type2",
        "category",
        "manufacturer",
        "model",
        "description",
        "serial",
        "location",
        "gps",
        "id",
        "last_check",
        "calibration_doc",
        "next_check",
        "range_units",
        "range_min",
        "range_max",
        "excitation",
        "interface",
        "measure_units",
        "measure_min",
        "measure_max",
        "room",
        "manual",
        "oco_decal",
        "source_grant",
        "created_on",
        "checkout_time",
        "checkout_user",
        "product_url",
        "barcode"
    ];

window.Items.Data = [
{% for i in Items %}

    {
        "essie_barcode": "{{ i.essie_barcode }}",
        "uf_inventory": "{{ i.uf_inventory }}",
        "type": "{{ i.type }}",
        "type2": "{{ i.type2 }}",
        "category": "{{ i.category }}",
        "manufacturer": "{{ i.manufacturer }}",
        "model": "{{ i.model }}",
        "description": "{{ i.description }}",
        "serial": "{{ i.serial }}",
        "location": "{{ i.location }}",
        "gps": "{{ i.gps }}",
        "id": "{{ i.id }}",
        "last_check": "{{ i.last_check }}",
        "calibration_doc": "{{ i.calibration_doc }}",
        "next_check": "{{ i.next_check }}",
        "range_units": "{{ i.range_units }}",
        "range_min": "{{ i.range_min }}",
        "range_max": "{{ i.range_max }}",
        "excitation": "{{ i.excitation }}",
        "interface": "{{ i.interface }}",
        "measure_units": "{{ i.measure_units }}",
        "measure_min": "{{ i.measure_min }}",
        "measure_max": "{{ i.measure_max }}",
        "room": "{{ i.room }}",
        "manual": "{{ i.manual }}",
        "oco_decal": "{{ i.oco_decal }}",
        "source_grant": "{{ i.source_grant }}",
        "created_on": "{{ i.created_on }}",
        "product_url": "{% if i.product_url|length > 0 %}{{ i.product_url }}{% else %}http://placehold.it/250x250{% endif %}",
        "barcode_url": "/static/img/barcodes/{{ i.id }}.svg",
        "checkout_time": "{{ i.checkout_time }}",
        "checkout_user": "{{ i.checkout_user }}"
    },

{% endfor %}
];

    window.Items.Meta = {
        "offset": "{{ offset }}",
        "limit": "{{ limit }}",
        "prevPage": "{{ prevPage|safe|escape }}",
        "nextPage": "{{ nextPage|safe|escape }}"
    };

    window.Items.displayData = function() {

        var detailsTemplate = document.getElementById("detailsTemplate").innerHTML,
                usedTemplate = document.getElementById("usedTemplate").innerHTML,
                freeTemplate = document.getElementById("freeTemplate").innerHTML;

        var detailsParent = document.getElementById("detailsParent");

        var details = [];

        for (var i = 0; i < window.Items.Data.length; i++) {

            var item = window.Items.Data[String(i)];

            console.log(i + ': ' + item);

            var el = detailsTemplate,
                    snip = "";

            el = el.replace("%i.product_url%", item['product_url'] || 'http://placehold.it/250x250');
            el = el.replace("%i.barcode_url%", item['barcode_url']);

            // replace the templated variables
            for (var j = 0; j < window.Items.Schema.length; j++) {
                var tag = window.Items.Schema[j];

                el = el.replace("%i." + tag + "%", item[tag] || '');
            }

            // check if the item is 'available'

            if (item['checkout_user'] && item['checkout_user'].length) {
                snip = usedTemplate;
                snip = snip.replace("%i.checkout_user%", item['checkout_user']);

                try {
                    snip = snip.replace('<td class="checkout_time_td" style="text-align:left"></td>', '<td id="checkout_time_td" style="text-align:left">' + moment(item['checkout_time'], 'YYYY/MM/DD hh:mm:ss').subtract(4,'hours').fromNow() + '</td>');
                }catch(e) {}

                el = el.replace("%free_or_used%", snip);
            } else {
                snip = freeTemplate;
                snip = snip.replace("%i.location%", item['location'] || '').replace("%i.room%", item['room'] || '');

                el = el.replace("%free_or_used%", snip);
            }

            details.push(el);
        }

        var final = "";

        for (var a = 0; a < details.length; a ++ )
            final += details[a] + '\n';

        detailsParent.innerHTML = final;

        // set the prev and next page anchors
        var prevPage = document.getElementById("prevPage");
        var nextPage = document.getElementById("nextPage");

        if( window.Items.Meta['prevPage'] === "" ) {
            prevPage.removeAttribute('href');
        } else {
            prevPage.href = window.Items.Meta['prevPage'];
        }

        if( window.Items.Meta['nextPage'] === "" ) {
            nextPage.removeAttribute('href');
        } else {
            nextPage.href = window.Items.Meta['nextPage'];
        }
    };

    window.Items.displayData();

</script>

{% endblock %}