<!DOCTYPE html>
<!-- 
Template Name: Metronic - Responsive Admin Dashboard Template build with Twitter Bootstrap 3.3.2
Version: 3.6.3
Author: KeenThemes
Website: http://www.keenthemes.com/
Contact: support@keenthemes.com
Follow: www.twitter.com/keenthemes
Like: www.facebook.com/keenthemes
Purchase: http://themeforest.net/item/metronic-responsive-admin-dashboard-template/4021469?ref=keenthemes
License: You must have a valid license purchased only from themeforest(the above link) in order to legally use the theme for your project.
-->
<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->
<!-- BEGIN HEAD -->
<head>
<meta charset="utf-8"/>
<title>Metronic | Login Options - Login Form 4</title>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta content="width=device-width, initial-scale=1.0" name="viewport"/>
<meta http-equiv="Content-type" content="text/html; charset=utf-8">
<meta content="" name="description"/>
<meta content="" name="author"/>
<!-- BEGIN GLOBAL MANDATORY STYLES -->
<link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css"/>
<link href="/static/js/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css"/>
<link href="/static/js/vendor/simple-line-icons/simple-line-icons.min.css" rel="stylesheet" type="text/css"/>
<link href="/static/js/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
<link href="/static/js/vendor/uniform/css/uniform.default.css" rel="stylesheet" type="text/css"/>
<!-- END GLOBAL MANDATORY STYLES -->
<!-- BEGIN PAGE LEVEL STYLES -->
<link href="/static/js/vendor/select2/select2.css" rel="stylesheet" type="text/css"/>
<link href="/static/css/login-soft.css" rel="stylesheet" type="text/css"/>
<!-- END PAGE LEVEL SCRIPTS -->
<!-- BEGIN THEME STYLES -->
<link href="/static/css/components.css" id="style_components" rel="stylesheet" type="text/css"/>
<link href="/static/css/js.css" rel="stylesheet" type="text/css"/>
<link href="/static/css/layout.css" rel="stylesheet" type="text/css"/>
<link id="style_color" href="/static/css/themes/default.css" rel="stylesheet" type="text/css"/>
<link href="/static/css/custom.css" rel="stylesheet" type="text/css"/>
<!-- END THEME STYLES -->
<link rel="shortcut icon" href="favicon.ico"/>
</head>
<!-- END HEAD -->
<!-- BEGIN BODY -->
<body class="login">
<!-- BEGIN LOGO -->
<div class="logo">
	<a href="items_list.html">
{#	<img src="/static/img/logo-big.png" alt=""/>#}
	</a>
</div>
<!-- END LOGO -->
<!-- BEGIN SIDEBAR TOGGLER BUTTON -->
<div class="menu-toggler sidebar-toggler">
</div>
<!-- END SIDEBAR TOGGLER BUTTON -->
<!-- BEGIN LOGIN -->
<div class="content" style="background-color:slategray;">
	<!-- BEGIN LOGIN FORM -->
	<form class="login-form" action={% if next|length > 0 %}"/login?next={{ next|urlencode }}"{% else %}"/login"{% endif %} method="post">
		<h3 class="form-title">Login to your account</h3>
		<div class="form-group">
			<!--ie8, ie9 does not support html5 placeholder, so we just show field title for that-->
			<label class="control-label visible-ie8 visible-ie9">Username</label>
			<div class="input-icon">
				<i class="fa fa-user"></i>
				<input class="form-control placeholder-no-fix" type="text" autocomplete="off" placeholder="Username" name="username"/>
			</div>
		</div>
		<div class="form-group">
			<label class="control-label visible-ie8 visible-ie9">Password</label>
			<div class="input-icon">
				<i class="fa fa-lock"></i>
				<input class="form-control placeholder-no-fix" type="password" autocomplete="off" placeholder="Password" name="password"/>
			</div>
		</div>
		<div class="form-actions">
			<button type="submit" class="btn blue pull-right">
			Login <i class="m-icon-swapright m-icon-white"></i>
			</button>
		</div>
	</form>
    <br><br><br>
	<!-- END LOGIN FORM -->
</div>
<!-- END LOGIN -->
<!-- BEGIN COPYRIGHT -->
<br><br>
<div class="copyright">
	 2014 &copy; Chris Pergrossi.  Select items used with permission.
</div>
<!-- END COPYRIGHT -->
<!-- BEGIN JAVASCRIPTS(Load javascripts at bottom, this will reduce page load time) -->
<!-- BEGIN CORE PLUGINS -->
<!--[if lt IE 9]>
<script src="/static/js/vendor/respond.min.js"></script>
<script src="/static/js/vendor/excanvas.min.js"></script>
<![endif]-->
<script src="/static/js/vendor/jquery.min.js" type="text/javascript"></script>
<script src="/static/js/vendor/jquery-migrate.min.js" type="text/javascript"></script>
<script src="/static/js/vendor/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
<script src="/static/js/vendor/jquery.blockui.min.js" type="text/javascript"></script>
<script src="/static/js/vendor/uniform/jquery.uniform.min.js" type="text/javascript"></script>
<script src="/static/js/vendor/jquery.cokie.min.js" type="text/javascript"></script>
<!-- END CORE PLUGINS -->
<!-- BEGIN PAGE LEVEL PLUGINS -->
<script src="/static/js/vendor/jquery-validation/js/jquery.validate.min.js" type="text/javascript"></script>
<script src="/static/js/vendor/backstretch/jquery.backstretch.min.js" type="text/javascript"></script>
<script type="text/javascript" src="/static/js/vendor/select2/select2.min.js"></script>
<!-- END PAGE LEVEL PLUGINS -->
<!-- BEGIN PAGE LEVEL SCRIPTS -->
<script src="/static/js/vendor/metronic.js" type="text/javascript"></script>
<script src="/static/js/vendor/layout.js" type="text/javascript"></script>
<script src="/static/js/vendor/demo.js" type="text/javascript"></script>
<script src="/static/js/vendor/login-soft.js" type="text/javascript"></script>
<!-- END PAGE LEVEL SCRIPTS -->
<script>
jQuery(document).ready(function() {     
  Metronic.init(); // init metronic core components
Layout.init(); // init current layout
  Login.init();
  Demo.init();
       // init background slide images
       $.backstretch([
        "/static/img/bg/2.jpg",
        "/static/img/bg/3.jpg",
        "/static/img/bg/4.jpg"
        ], {
          fade: 1000,
          duration: 8000
    }
    );
});
</script>
<!-- END JAVASCRIPTS -->
</body>
<!-- END BODY -->
</html>